force-app/main/default/flows/Account_Send_Notification_to_LC_when_Account_Type_is_Client.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>send_Email_Notification</name>
        <label>send Email Notification</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <actionName>Account.Send_a_notification_to_the_LC_on_the_Account</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.Send_a_notification_to_the_LC_on_the_Account</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendNotificationtoLC</name>
        <label>sendNotificationtoLC</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>send_Email_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>variableRecipientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>textTemplateTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>textTemplateBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>assignRecipientId</name>
        <label>assignRecipientId</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>variableRecipientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getAccountTeamMember.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getCustomNotification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Lifecycle_Coordinator</name>
        <label>Found Lifecycle Coordinator?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Found_LC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccountTeamMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignRecipientId</targetReference>
            </connector>
            <label>Found LC</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Account: Send Notification to LC when Account Type is Client {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account: Send Notification to LC when Account Type is Client</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAccountTeamMember</name>
        <label>getAccountTeamMember</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Lifecycle_Coordinator</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lifecycle Coordinator</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCustomNotification</name>
        <label>getCustomNotification</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sendNotificationtoLC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomNotifTypeName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CAF Form Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAccountTeamMember</targetReference>
        </connector>
        <filterFormula>AND({!$Setup.Org_Wide_Settings__c.Disable_Flows__c} = false,
ISCHANGED({!$Record.Type}),
ISPICKVAL({!$Record.Type}, &apos;Client&apos;)
)</filterFormula>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>textTemplateBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!getAccountTeamMember.User.Name},
We are pleased to inform you that the following account has now been successfully converted to a Client in our system:

Account Details:
Account Name: {!$Record.Name}
Client ID: {!$Record.CP_Client_ID__c}</text>
    </textTemplates>
    <textTemplates>
        <name>textTemplateTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Great News!  {!$Record.Name} is now a Client!!!  Click to see more</text>
    </textTemplates>
    <variables>
        <name>variableRecipientId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
