force-app/main/default/flows/Add_Milestone_Description.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Update_Milestone_Description_on_BEI</name>
        <label>Update Milestone Description on BEI</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Accounting_Line_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Milestone_Record.pse__Description__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Category</name>
        <label>Check Category</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Category_Milestone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Milestone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Milestone_Record</targetReference>
            </connector>
            <label>Category Milestone</label>
        </rules>
    </decisions>
    <description>Add Milestone Description to BEI on Accounting line Description field</description>
    <environments>Default</environments>
    <interviewLabel>Add Milestone Description {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Milestone Description to BEI</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Milestone_Record</name>
        <label>Milestone Record</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Milestone_Description_on_BEI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Billing_Event_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Milestone__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Category</targetReference>
        </connector>
        <object>pse__Billing_Event_Item__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
