force-app/main/default/flows/Audit_Register_On_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Check_Parent_Company</name>
        <label>Check Parent Company</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No Parent Company</defaultConnectorLabel>
        <rules>
            <name>Parent_Company_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project__r.pse__Account__r.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parent_Company</targetReference>
            </connector>
            <label>Parent Company Exist</label>
        </rules>
    </decisions>
    <description>Assigns initial values when Audit Register Record is created</description>
    <environments>Default</environments>
    <interviewLabel>Audit Register: On Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Audit Register: On Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Initial_Values</name>
        <label>Update Initial Values</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Check_Parent_Company</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Project__r.pse__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Code__c</field>
            <value>
                <elementReference>$Record.Project__r.pse__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Type__c</field>
            <value>
                <elementReference>$Record.Project__r.pse__Account__r.Type_of_Business__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager__c</field>
            <value>
                <elementReference>$Record.Project__r.pse__Project_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RP_RD__c</field>
            <value>
                <elementReference>$Record.Project__r.CT_Project_Partner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Line__c</field>
            <value>
                <elementReference>$Record.Project__r.pse__Practice__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Company</name>
        <label>Update Parent Company</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Parent_Company__c</field>
            <value>
                <elementReference>$Record.Project__r.pse__Account__r.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Initial_Values</targetReference>
        </connector>
        <object>Audit_Register__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
