force-app/main/default/flows/Case_Beneficial_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Beneficial_Owner_Cases</name>
        <label>Assign Beneficial Owner Cases</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>var_BeneficialOwnerCases.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_BeneficialOwnerCases.Beneficial_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Beneficial_Owners.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Collection</name>
        <label>Assign to Collection</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>col_BeneficialOwnerCases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_BeneficialOwnerCases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Beneficial_Owners</targetReference>
        </connector>
    </assignments>
    <description>Create Beneficial Owner Cases (Junction Object) when a Case is created, and related to an Account</description>
    <environments>Default</environments>
    <interviewLabel>Case - Beneficial Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Beneficial Owner</label>
    <loops>
        <name>Loop_Beneficial_Owners</name>
        <label>Loop Beneficial Owners</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Beneficial_Owners</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Beneficial_Owner_Cases</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Beneficial_Owner_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Beneficial_Owner_Cases</name>
        <label>Create Beneficial Owner Cases</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <inputReference>col_BeneficialOwnerCases</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Beneficial_Owners</name>
        <label>Get Beneficial Owners</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Beneficial_Owners</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Beneficial_Owner__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Beneficial_Owners</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>col_BeneficialOwnerCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Beneficial_Owner_Cases__c</objectType>
    </variables>
    <variables>
        <name>var_BeneficialOwnerCases</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Beneficial_Owner_Cases__c</objectType>
    </variables>
</Flow>
