force-app/main/default/flows/Case_Send_Custom_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sendFormApprovalNotification</name>
        <label>sendFormApprovalNotification</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>variableRecipientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>textTemplateTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>textTemplateBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendPartnerApprovalNotification</name>
        <label>sendPartnerApprovalNotification</label>
        <locationX>578</locationX>
        <locationY>971</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>variableRecipientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>textTemplatePartnerTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>textTemplatePartnerBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendPEPApprovalNotification</name>
        <label>sendPEPApprovalNotification</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>variableRecipientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>textTemplatePEPTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>textTemplatePEPBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendRiskApprovalNotification</name>
        <label>sendRiskApprovalNotification</label>
        <locationX>842</locationX>
        <locationY>971</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>variableRecipientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>textTemplateRiskTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>textTemplateRiskBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>assignRecipient</name>
        <label>assignRecipient</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>variableRecipientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_Lifecycle_Coordinator_from_Case_Team.MemberId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Approval_Notification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Approval_Notification</name>
        <label>Approval Notification</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FormApproved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approved__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendFormApprovalNotification</targetReference>
            </connector>
            <label>Form Approved</label>
        </rules>
        <rules>
            <name>PEP_SIP_RCA_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PEP_SIP_RCA_Approved_checkbox__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PEP_SIP_RCA_Approved_checkbox__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendPEPApprovalNotification</targetReference>
            </connector>
            <label>PEP/SIP/RCA Approval</label>
        </rules>
        <rules>
            <name>Partner_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner_Approved_checkbox__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Approved_checkbox__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendPartnerApprovalNotification</targetReference>
            </connector>
            <label>Partner Approved</label>
        </rules>
        <rules>
            <name>Risk_Compliance_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Risk_Compliance_Approved_checkbox__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Risk_Compliance_Approved_checkbox__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendRiskApprovalNotification</targetReference>
            </connector>
            <label>Risk Compliance Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lifecycle_Found</name>
        <label>Lifecycle Found</label>
        <locationX>930</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Lifecycle_Coordinator_from_Case_Team.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignRecipient</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case: Send Custom Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: Send Custom Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Lifecycle_Coordinator_from_Case_Team</name>
        <label>get Lifecycle Coordinator from Case Team</label>
        <locationX>930</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getNotification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCaseTeamMemberRole.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCaseTeamMemberRole</name>
        <label>getCaseTeamMemberRole</label>
        <locationX>930</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Lifecycle_Coordinator_from_Case_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lifecycle</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseTeamRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getNotification</name>
        <label>getNotification</label>
        <locationX>930</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lifecycle_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomNotifTypeName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CAF Form Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>804</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCaseTeamMemberRole</targetReference>
        </connector>
        <filterFormula>AND(NOT({!$Setup.Org_Wide_Settings__c.Disable_Flows__c}),
OR(
AND(ISCHANGED({!$Record.Approved__c}),
{!$Record.Approved__c} = TRUE
),
AND(ISCHANGED({!$Record.PEP_SIP_RCA_Approved_checkbox__c}),
{!$Record.PEP_SIP_RCA_Approved_checkbox__c} = TRUE
),
AND(ISCHANGED({!$Record.Partner_Approved_checkbox__c}),
{!$Record.Partner_Approved_checkbox__c} = TRUE
),
AND(ISCHANGED({!$Record.Risk_Compliance_Approved_checkbox__c}),
{!$Record.Risk_Compliance_Approved_checkbox__c} = TRUE
)
)
)</filterFormula>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>textTemplateBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Great news: Form approval has been received for Case {!$Record.CaseNumber} - {!$Record.Account.Name}.</text>
    </textTemplates>
    <textTemplates>
        <name>textTemplatePartnerBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Great News!  We have received Partner Approval for Case {!$Record.CaseNumber} - {!$Record.Account.Name}.</text>
    </textTemplates>
    <textTemplates>
        <name>textTemplatePartnerTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Partner Approved</text>
    </textTemplates>
    <textTemplates>
        <name>textTemplatePEPBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Great News - We have received PEP/RCA/SIP Approval from Risk for Case {!$Record.CaseNumber} - {!$Record.Account.Name}.</text>
    </textTemplates>
    <textTemplates>
        <name>textTemplatePEPTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>PEP/SIP/RCA Approved</text>
    </textTemplates>
    <textTemplates>
        <name>textTemplateRiskBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Great News - We have received Risk / Compliance Approval from Risk for Case {!$Record.CaseNumber} - {!$Record.Account.Name}.</text>
    </textTemplates>
    <textTemplates>
        <name>textTemplateRiskTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Risk / Compliance Approved</text>
    </textTemplates>
    <textTemplates>
        <name>textTemplateTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>CAF Form Approved</text>
    </textTemplates>
    <variables>
        <name>variableRecipient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>variableRecipientId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
