force-app/main/default/flows/Case_Continuation_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Anti_money_laundering</name>
        <label>Assign Anti money laundering</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>varForm.Hold_Assests_or_undertake_overseas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hold_Assests_or_undertake_overseas</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Have_links_with_individuals_or_business__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Have_links_with_individuals_or_business</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Use_product_services_or_entities__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Use_product_services_or_entities</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Any_concerns_over_the_source_of_funds__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Any_concerns_over_the_source_of_funds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Anticipate_holding_monies_for_the_client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Anticipate_holding_monies_for_the_client</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Have_we_met_the_client_face_to_face__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Have_we_met_the_client_face_to_face</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Politically_Exposed_Person__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Politically_Exposed_Person</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Money_Laundering_Risk__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Money_Laundering_Risk</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Hold_Assests_or_undertake_overseas_T__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hold_Assests_or_undertake_overseas_T</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Have_links_with_individuals_or_busines_T__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Have_links_with_individuals_or_busines_T</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Use_product_services_or_entities_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Use_product_services_or_entities_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Any_concerns_over_the_source_of_funds_T__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Any_concerns_over_the_source_of_funds_T</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Anticipate_holding_monies_for_the_clie_T__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Anticipate_holding_monies_for_the_clie_T</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Have_we_met_the_client_face_to_face_T__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Have_we_met_the_client_face_to_face_T</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Politically_Exposed_Person_T__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Politically_Exposed_Person_T</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Money_Laundering_Risk_T__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Money_Laundering_Risk_T</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Update_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_anti_money_laundering2</name>
        <label>Assign anti money laundering</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>varForm.Business_structure_complex_unusual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_structure_complex_unusual</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Client_transact_with_business_overseas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Client_transact_with_business_overseas</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Is_control_remote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_control_remote</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Is_it_a_cash_business__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_it_a_cash_business</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Any_concerns_over_the_source_of_funds__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Any_concerns_over_the_source_of_funds1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Have_we_met_the_client_face_to_face__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Have_we_met_the_client_face_to_face1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Politically_Exposed_Person__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Politically_Exposed_Person1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Money_Laundering_Risk__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Money_Laundering_Risk1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Risk_level_changed_from_Normal_to_High__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Risk_level_changed_from_Normal_to_High</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Know_your_client_information_held__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Know_your_client_information_held</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Still_be_acting_for_the_client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Still_be_acting_for_the_client</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Business_structure_complex_unusual_T__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_structure_complex_unusual_T</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Client_transact_with_business_overseas_T__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Client_transact_with_business_overseas_T</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Is_control_remote_T__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_control_remote_T</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Is_it_a_cash_business_T__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_it_a_cash_business_T</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Any_concerns_over_the_source_of_funds_T__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Any_concerns_over_the_source_of_funds_T1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Have_we_met_the_client_face_to_face_T__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Have_we_met_the_client_face_to_face_T1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Politically_Exposed_Person_T__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Politically_Exposed_Person_T1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Money_Laundering_Risk_T__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Money_Laundering_Risk_T1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Risk_level_changed_from_Normal_to_High_T__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Risk_level_changed_from_Normal_to_High_T1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Know_your_client_information_held_T__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Know_your_client_information_held_T</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Still_be_acting_for_the_client_T__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Still_be_acting_for_the_client_T</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Update_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_general_continuation_variables</name>
        <label>Assign general continuation variables</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>varForm.Consider_changes_that_alter_assessment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consider_changes_that_alter_assessment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Conflicting_checking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Conflicting_checking</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DATE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Consider_changes_that_alter_assessment_T__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consider_changes_that_alter_assessment_T</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Conflicting_checking_text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Conflicting_checking_text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Form1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_5</name>
        <label>Assign Case to form</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varForm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Created_Form</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Form</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GENERAL_CONTINUATION_PROCEDURES</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_form_to_variable</name>
        <label>Store form to variable</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varForm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Form</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GENERAL_CONTINUATION_PROCEDURES</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Already_Completed</name>
        <label>Already Completed?</label>
        <locationX>314</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>Update_Completed_Form_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Already_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Form.Completed_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Form_to_Complete</targetReference>
            </connector>
            <label>Yes - Already Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_has_continuation_form</name>
        <label>Case has continuation form?</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Create_Form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_has_form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Form</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_form_to_variable</targetReference>
            </connector>
            <label>Yes has form</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tax</name>
        <label>Tax?</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Update_Form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PC_Compliance_or_PC_Advisory</name>
            <conditionLogic>3 AND (1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Opportunity_Type_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PC Advisory</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.Opportunity_Type_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PC Compliance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.Opportunity_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tax</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ANTI_MONEY_LAUNDERING_REVIEW_Page</targetReference>
            </connector>
            <label>PC Compliance or PC Advisory</label>
        </rules>
        <rules>
            <name>NOT_PC_Compliance_or_PC_Advisory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Opportunity_Type_Area__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PC Advisory</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.Opportunity_Type_Area__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PC Compliance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.Opportunity_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tax</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ANTI_MONEY_LAUNDERING_REVIEW_Form</targetReference>
            </connector>
            <label>NOT PC Compliance or PC Advisory</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>oppArea_values</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Opportunity_Area__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>oppTypeArea_values</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Opportunity_Type_Area__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fullName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}&amp;&quot; &quot;&amp;{!$User.LastName}</expression>
    </formulas>
    <interviewLabel>Case - Continuation Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Continuation Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Form</name>
        <label>Create Form</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Get_Created_Form</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Case.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Continuation_Form__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Created_Form</name>
        <label>Get Created Form</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Form</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Continuation_Form__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Form</name>
        <label>Get Form</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_has_continuation_form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Continuation_Form__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_2_of_Update_Form</name>
        <label>Copy 2 of Update Form</label>
        <locationX>314</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Guidance_Screen</targetReference>
        </connector>
        <inputReference>varForm</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Form_to_Complete</name>
        <label>Set Form to Complete</label>
        <locationX>314</locationX>
        <locationY>2114</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Continuation_Form_Complete__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Completed_Form_Date</name>
        <label>Update Completed Form Date</label>
        <locationX>402</locationX>
        <locationY>1922</locationY>
        <connector>
            <targetReference>Set_Form_to_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varForm.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Completed_By__c</field>
            <value>
                <elementReference>fullName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Completed_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Continuation_Form__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Form1</name>
        <label>Update Form</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Tax</targetReference>
        </connector>
        <inputReference>varForm</inputReference>
    </recordUpdates>
    <screens>
        <name>ANTI_MONEY_LAUNDERING_REVIEW_Form</name>
        <label>ANTI-MONEY LAUNDERING REVIEW Form</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_anti_money_laundering2</targetReference>
        </connector>
        <fields>
            <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>header3</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>ContinuationLogo</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>headerTxt3</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 9pt;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;ENGAGEMENT CONTINUATION &amp;amp; ADDITIONAL SERVICE CHECKLIST&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txe20</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 12pt;&quot;&gt;ANTI-MONEY LAUNDERING REVIEW&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 12pt;&quot;&gt;(Please refer to guidance at the end of this document)&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt21</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 12pt;&quot;&gt;Comments&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 12pt;&quot;&gt;(Yes or No and additional explanations)&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>d</name>
                    <fieldText>&lt;p&gt;d&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt22</name>
                    <fieldText>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;color: red; font-family: Arial, sans-serif; font-size: 12pt;&quot;&gt;Money Laundering Risk Assessment - &lt;u&gt;Not Personal Tax&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt23</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;Is the business structure complex/unusual?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Business_structure_complex_unusual</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varForm.Business_structure_complex_unusual__c</elementReference>
                    </defaultValue>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Business_structure_complex_unusual_T</name>
                    <defaultValue>
                        <stringValue>{!varForm.Business_structure_complex_unusual_T__c}</stringValue>
                    </defaultValue>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt24</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;Does the client transact with businesses in overseas countries with weak money laundering regimes?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Client_transact_with_business_overseas</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varForm.Client_transact_with_business_overseas__c</elementReference>
                    </defaultValue>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Client_transact_with_business_overseas_T</name>
                    <defaultValue>
                        <stringValue>{!varForm.Client_transact_with_business_overseas_T__c}</stringValue>
                    </defaultValue>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt25</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: Arial, sans-serif;&quot;&gt;Is control remote?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section6_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Is_control_remote</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varForm.Is_control_remote__c</elementReference>
                    </defaultValue>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Is_control_remote_T</name>
                    <defaultValue>
                        <stringValue>{!varForm.Is_control_remote_T__c}</stringValue>
                    </defaultValue>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>text25</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;Is it a cash business?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section7_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Is_it_a_cash_business</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varForm.Is_it_a_cash_business__c</elementReference>
                    </defaultValue>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Is_it_a_cash_business_T</name>
                    <defaultValue>
                        <stringValue>{!varForm.Is_it_a_cash_business_T__c}</stringValue>
                    </defaultValue>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt28</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;Do we have any concerns over the source of the client’s funds?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt; color: red;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;A “Yes” answer to &lt;/span&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 10pt; color: red;&quot;&gt;&lt;u&gt;ANY &lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt; color: red;&quot;&gt;of the above means the client must be treated as high risk&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section8_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Any_concerns_over_the_source_of_funds1</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varForm.Any_concerns_over_the_source_of_funds__c</elementReference>
                    </defaultValue>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Any_concerns_over_the_source_of_funds_T1</name>
                    <defaultValue>
                        <stringValue>{!varForm.Any_concerns_over_the_source_of_funds_T__c}</stringValue>
                    </defaultValue>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section9_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt27</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;Have we met the client face to face?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Name1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Form.Client_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section9_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Have_we_met_the_client_face_to_face1</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varForm.Have_we_met_the_client_face_to_face__c</elementReference>
                    </defaultValue>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Have_we_met_the_client_face_to_face_T1</name>
                    <defaultValue>
                        <stringValue>{!varForm.Have_we_met_the_client_face_to_face_T__c}</stringValue>
                    </defaultValue>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section10_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt29</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: red; font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;If “No” the client must be treated as high risk&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;Has the client or a member of their family or a known close associate become a Politically Exposed Person (PEP)?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section10_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Politically_Exposed_Person1</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varForm.Politically_Exposed_Person__c</elementReference>
                    </defaultValue>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Politically_Exposed_Person_T1</name>
                    <defaultValue>
                        <stringValue>{!varForm.Politically_Exposed_Person_T__c}</stringValue>
                    </defaultValue>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section11</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section11_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section11_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt30</name>
                    <fieldText>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;If “Yes” the client must be treated as high risk and Enhanced Due Diligence (EDD) procedures as set out in the firm’s Client Acceptance Guidance Notes (available on the intranet) applied.&amp;nbsp;Record EDD procedures undertaken here:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;Considering the above factors, the Money Laundering Risk is:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section11_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Money_Laundering_Risk1</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varForm.Money_Laundering_Risk__c</elementReference>
                    </defaultValue>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Money_Laundering_Risk_T1</name>
                    <defaultValue>
                        <stringValue>{!varForm.Money_Laundering_Risk_T__c}</stringValue>
                    </defaultValue>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section12</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section12_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section12_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt31</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;Has the risk level changed from Normal to High since the previously recorded risk level?&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>txt32</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;If “Yes” details of the additional verification work carried out:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;NB: Identity verification&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;Normal Risk:&amp;nbsp;&amp;nbsp;&lt;/strong&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;SmartSearch check (“Normal” risk setting) &lt;/span&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;OR&lt;/strong&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt; one government issued document with photo e.g. passport or driving licence;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;High Risk:&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/strong&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;SmartSearch check (“High” risk setting) &lt;/span&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;OR o&lt;/strong&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;ne government issued document with photo e.g. passport or driving licence &lt;/span&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;AND&lt;/strong&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt; document detailing address e.g. utility bill.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section12_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Risk_level_changed_from_Normal_to_High</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varForm.Risk_level_changed_from_Normal_to_High__c</elementReference>
                    </defaultValue>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Risk_level_changed_from_Normal_to_High_T1</name>
                    <defaultValue>
                        <stringValue>{!varForm.Risk_level_changed_from_Normal_to_High_T__c}</stringValue>
                    </defaultValue>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section13</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section13_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section13_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt33</name>
                    <fieldText>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;Ensure that the “know your client” information held on our files for anti-money laundering purposes is updated for any changes identified above and in any other relevant respects.&amp;nbsp;Ensure any changes to Beneficial Ownership are recorded and any additional ID verification undertaken.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;Record the Current Beneficial Owners and the basis of beneficial ownership below:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-family: Wingdings; font-size: 10pt;&quot;&gt;Ø&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;??&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-family: Wingdings; font-size: 10pt;&quot;&gt;Ø&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;??&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-family: Wingdings; font-size: 10pt;&quot;&gt;Ø&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;??&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section13_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Know_your_client_information_held</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varForm.Know_your_client_information_held__c</elementReference>
                    </defaultValue>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Know_your_client_information_held_T</name>
                    <defaultValue>
                        <stringValue>{!varForm.Know_your_client_information_held_T__c}</stringValue>
                    </defaultValue>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section14</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section14_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section14_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt34</name>
                    <fieldText>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;For Non-Audit services added to an Audit client please complete the questions below&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;1.	The type of non-audit service giving as much detail as possible, including the fee level?&amp;nbsp;&lt;/p&gt;&lt;p&gt;2.	The services are to be carried out by a separate team with a separate partner not involved in the audit which are?&lt;/p&gt;&lt;p&gt;3.	Any other safeguards that are deemed necessary by the Audit partner?&lt;/p&gt;&lt;p&gt;4.	Full details of the ethical considerations should be detailed on the Audit file by the Audit partner (this must be confirmed on the CF)?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section14_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section15</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section15_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section15_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt35</name>
                    <fieldText>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;Considering the answers to the above should we still be acting for the client?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Form_Section15_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Still_be_acting_for_the_client</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varForm.Still_be_acting_for_the_client__c</elementReference>
                    </defaultValue>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Still_be_acting_for_the_client_T</name>
                    <defaultValue>
                        <stringValue>{!varForm.Still_be_acting_for_the_client_T__c}</stringValue>
                    </defaultValue>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ANTI_MONEY_LAUNDERING_REVIEW_Page</name>
        <label>ANTI-MONEY LAUNDERING REVIEW Page</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Anti_money_laundering</targetReference>
        </connector>
        <fields>
            <name>ANTI_MONEY_LAUNDERING_REVIEW_Page_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Page_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>header2</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>ContinuationLogo</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Page_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>headerTxt2</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 9pt;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;ENGAGEMENT CONTINUATION &amp;amp; ADDITIONAL SERVICE CHECKLIST&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ANTI_MONEY_LAUNDERING_REVIEW_Page_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Page_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt6</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 12pt;&quot;&gt;ANTI-MONEY LAUNDERING REVIEW&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 12pt;&quot;&gt;(Please refer to guidance at the end of this document)&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Page_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt7</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 12pt;&quot;&gt;Comments&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 12pt;&quot;&gt;(Yes or No and additional explanations)&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ANTI_MONEY_LAUNDERING_REVIEW_Page_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Page_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Page_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt8</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 12pt;&quot;&gt;Money Laundering Risk Assessment (complete EITHER part c OR d)&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Page_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ANTI_MONEY_LAUNDERING_REVIEW_Page_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Page_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>c</name>
                    <fieldText>&lt;p&gt;c&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Page_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt9</name>
                    <fieldText>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;color: red; font-family: Arial, sans-serif; font-size: 12pt;&quot;&gt;Money Laundering Risk Assessment - &lt;u&gt;Personal Tax Only&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Page_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ANTI_MONEY_LAUNDERING_REVIEW_Page_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Page_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Page_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt10</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: Arial, sans-serif;&quot;&gt;Does the client hold assets or undertake activities overseas?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Page_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Hold_Assests_or_undertake_overseas</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varForm.Hold_Assests_or_undertake_overseas__c</elementReference>
                    </defaultValue>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Hold_Assests_or_undertake_overseas_T</name>
                    <defaultValue>
                        <stringValue>{!varForm.Hold_Assests_or_undertake_overseas_T__c}</stringValue>
                    </defaultValue>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ANTI_MONEY_LAUNDERING_REVIEW_Page_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Page_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Page_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt11</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;Does the client have links with individuals or businesses in overseas countries with weak money laundering regimes?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Page_Section6_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Have_links_with_individuals_or_business</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varForm.Have_links_with_individuals_or_business__c</elementReference>
                    </defaultValue>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Have_links_with_individuals_or_busines_T</name>
                    <defaultValue>
                        <stringValue>{!varForm.Have_links_with_individuals_or_busines_T__c}</stringValue>
                    </defaultValue>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ANTI_MONEY_LAUNDERING_REVIEW_Page_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Page_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Page_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt12</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;Does the client use products, services or entities which provide anonymity?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Page_Section7_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Use_product_services_or_entities</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varForm.Use_product_services_or_entities__c</elementReference>
                    </defaultValue>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Use_product_services_or_entities_Text</name>
                    <defaultValue>
                        <stringValue>{!varForm.Use_product_services_or_entities_Text__c}</stringValue>
                    </defaultValue>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ANTI_MONEY_LAUNDERING_REVIEW_Page_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Page_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Page_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt13</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;Do we have any concerns over the source of the client’s funds?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Page_Section8_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Any_concerns_over_the_source_of_funds</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varForm.Any_concerns_over_the_source_of_funds__c</elementReference>
                    </defaultValue>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Any_concerns_over_the_source_of_funds_T</name>
                    <defaultValue>
                        <stringValue>{!varForm.Any_concerns_over_the_source_of_funds_T__c}</stringValue>
                    </defaultValue>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ANTI_MONEY_LAUNDERING_REVIEW_Page_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Page_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Page_Section9_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt14</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: Arial, sans-serif;&quot;&gt;Do we anticipate holding monies for the client?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: Arial, sans-serif; color: red;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;A “Yes” answer to &lt;/span&gt;&lt;strong style=&quot;font-size: 10pt; font-family: Arial, sans-serif; color: red;&quot;&gt;&lt;u&gt;ANY &lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 10pt; font-family: Arial, sans-serif; color: red;&quot;&gt;of the above means the client must be treated as high risk&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Page_Section9_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Anticipate_holding_monies_for_the_client</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varForm.Anticipate_holding_monies_for_the_client__c</elementReference>
                    </defaultValue>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Anticipate_holding_monies_for_the_clie_T</name>
                    <defaultValue>
                        <stringValue>{!varForm.Anticipate_holding_monies_for_the_clie_T__c}</stringValue>
                    </defaultValue>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ANTI_MONEY_LAUNDERING_REVIEW_Page_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Page_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Page_Section10_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>text15</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;Have we met the client face to face?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varForm.Client_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Page_Section10_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Have_we_met_the_client_face_to_face</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varForm.Have_we_met_the_client_face_to_face__c</elementReference>
                    </defaultValue>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Have_we_met_the_client_face_to_face_T</name>
                    <defaultValue>
                        <stringValue>{!varForm.Have_we_met_the_client_face_to_face_T__c}</stringValue>
                    </defaultValue>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ANTI_MONEY_LAUNDERING_REVIEW_Page_Section11</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Page_Section11_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Page_Section11_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>text16</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: red; font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;If “No” the client must be treated as high risk&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Has the client or a member of their family or a known close associate become a Politically Exposed Person (PEP)?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Page_Section11_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Politically_Exposed_Person</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varForm.Politically_Exposed_Person__c</elementReference>
                    </defaultValue>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Politically_Exposed_Person_T</name>
                    <defaultValue>
                        <stringValue>{!varForm.Politically_Exposed_Person_T__c}</stringValue>
                    </defaultValue>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ANTI_MONEY_LAUNDERING_REVIEW_Page_Section12</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Page_Section12_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Page_Section12_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>text17</name>
                    <fieldText>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;If “Yes” the client must be treated as high risk and Enhanced Due Diligence (EDD) procedures as set out in the firm’s Client Acceptance Guidance Notes (available on the intranet) applied.&amp;nbsp;Record EDD procedures undertaken here:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;Considering the above factors, the Money Laundering Risk is:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ANTI_MONEY_LAUNDERING_REVIEW_Page_Section12_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Money_Laundering_Risk</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varForm.Money_Laundering_Risk__c</elementReference>
                    </defaultValue>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Money_Laundering_Risk_T</name>
                    <defaultValue>
                        <stringValue>{!varForm.Money_Laundering_Risk_T__c}</stringValue>
                    </defaultValue>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>GENERAL_CONTINUATION_PROCEDURES</name>
        <label>GENERAL CONTINUATION PROCEDURES</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_general_continuation_variables</targetReference>
        </connector>
        <fields>
            <name>GENERAL_CONTINUATION_PROCEDURES_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>GENERAL_CONTINUATION_PROCEDURES_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>header1</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>ContinuationLogo</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>GENERAL_CONTINUATION_PROCEDURES_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>headerTxt1</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;ENGAGEMENT CONTINUATION &amp;amp; ADDITIONAL SERVICE CHECKLIST&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>GENERAL_CONTINUATION_PROCEDURES_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>GENERAL_CONTINUATION_PROCEDURES_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>clientNameTxt</name>
                    <fieldText>&lt;p&gt;CLIENT: {!Get_Case.Contact.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Case.Contact.LastName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>GENERAL_CONTINUATION_PROCEDURES_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DATE</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>varForm.Date__c</elementReference>
                    </defaultValue>
                    <fieldText>DATE</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>GENERAL_CONTINUATION_PROCEDURES_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>GENERAL_CONTINUATION_PROCEDURES_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt1</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 12pt;&quot;&gt;GENERAL CONTINUATION PROCEDURES&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 12pt;&quot;&gt;(Please refer to guidance at the end of this document)&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>GENERAL_CONTINUATION_PROCEDURES_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt2</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 12pt;&quot;&gt;Comments&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 12pt;&quot;&gt;(Yes or No and additional explanations)&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>GENERAL_CONTINUATION_PROCEDURES_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>GENERAL_CONTINUATION_PROCEDURES_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>GENERAL_CONTINUATION_PROCEDURES_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt3</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: red; font-family: Arial, sans-serif; font-size: 12pt;&quot;&gt;Please use this checklist annually for AML purposes and when determining whether to continue with an engagement:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>GENERAL_CONTINUATION_PROCEDURES_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>GENERAL_CONTINUATION_PROCEDURES_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>GENERAL_CONTINUATION_PROCEDURES_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>a</name>
                    <fieldText>&lt;p&gt;a&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>GENERAL_CONTINUATION_PROCEDURES_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt4</name>
                    <fieldText>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;Consider changes that may alter the original assessment of the acceptability of the client and engagement.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;Examples of changes that shall cause a careful reconsideration are:&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-family: Symbol; font-size: 10pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;Changes in name and/or address;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-family: Symbol; font-size: 10pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;a significant change in the size, structure or nature of the client&apos;s business;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-family: Symbol; font-size: 10pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;new sources of finance;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-family: Symbol; font-size: 10pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;a major change in the ownership, management or Trustees of the client; &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-family: Symbol; font-size: 10pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;new regulatory reporting requirements:&amp;nbsp;and/or&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-family: Symbol; font-size: 10pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;additional service added.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>GENERAL_CONTINUATION_PROCEDURES_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Consider_changes_that_alter_assessment</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varForm.Consider_changes_that_alter_assessment__c</elementReference>
                    </defaultValue>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Consider_changes_that_alter_assessment_T</name>
                    <defaultValue>
                        <stringValue>{!varForm.Consider_changes_that_alter_assessment_T__c}</stringValue>
                    </defaultValue>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>GENERAL_CONTINUATION_PROCEDURES_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>GENERAL_CONTINUATION_PROCEDURES_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>b</name>
                    <fieldText>&lt;p&gt;b&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>GENERAL_CONTINUATION_PROCEDURES_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt5</name>
                    <fieldText>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;Conflict checking shall require determining whether there were any:&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-family: Symbol; font-size: 10pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;changes in the controlling ownership interests over the entity;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-family: Symbol; font-size: 10pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;changes in any controlling interests held by the entity;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-family: Symbol; font-size: 10pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;new listings in the group; &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-family: Symbol; font-size: 10pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;any known change in service providers that may impact independence; or &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-family: Symbol; font-size: 10pt;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;changes in classification of the entity as public interest.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;Any such changes will require reconsideration of the firm’s conflict checking procedures.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>GENERAL_CONTINUATION_PROCEDURES_Section6_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Conflicting_checking</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varForm.Conflicting_checking__c</elementReference>
                    </defaultValue>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Conflicting_checking_text</name>
                    <defaultValue>
                        <stringValue>{!varForm.Conflicting_checking_text__c}</stringValue>
                    </defaultValue>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Guidance_Screen</name>
        <label>Guidance Screen</label>
        <locationX>314</locationX>
        <locationY>1706</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Already_Completed</targetReference>
        </connector>
        <fields>
            <name>Guidance_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Guidance_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>header4</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>ContinuationLogo</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Guidance_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>headerTxt4</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Arial, sans-serif; font-size: 9pt;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;ENGAGEMENT CONTINUATION &amp;amp; ADDITIONAL SERVICE CHECKLIST&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>guidanceTxt</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Guidance&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;1. Cooper Parry procedures require that all client relationships be periodically reviewed to determine whether continuation of the relationship is appropriate.&amp;nbsp;Cooper Parry require this review to be carried out at least annually.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;2. Examples of matters which should be considered when making continuation decisions are set out in section a of this checklist.&amp;nbsp;This is not an exhaustive list and there may be other matters which are relevant to the continuation decision.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;3. The Money Laundering Regulations 2017 require periodic reassessment of the level of money laundering risk attaching to each client.&amp;nbsp;Please answer the questions in section c (for Personal Tax clients) or d (for all other clients) to assess the level of risk as either High or Normal.&amp;nbsp;The risk level should then be entered into the client’s Dynamics record in the “Money Laundering Risk Level” field which will be found on the onboarding tab (the Risk Team will add this)&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;4. The Money Laundering Regulations also require periodic review and updating of our “know your client” information.&amp;nbsp;The processes detailed in points 1 to 5 above should largely result in this requirement being met but we should consider whether there are any other matters where we need to obtain information or confirmation.&amp;nbsp;In particular, if the assessed level of money laundering risk has changed then we need to satisfy ourselves that the client due diligence information which we hold is adequate.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;5. This completed checklist and all other documentation supporting the carrying out of the procedures set out herein should be saved against the client on Dynamics.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;6. Please contact Michelle McDonald if you have any queries.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>temp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varForm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Continuation_Form__c</objectType>
    </variables>
</Flow>
