force-app/main/default/flows/Case_Declined_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>assignValues</name>
        <label>assignValues</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>variableCase.Closed_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Closed_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>variableCase.Declined_Additional_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Declined_Additional_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>variableCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>variableCase.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateCaseRecord</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CAF_incomplete</name>
        <choiceText>Declined - CAF incomplete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Declined - CAF incomplete</stringValue>
        </value>
    </choices>
    <choices>
        <name>Missing_AML_documents</name>
        <choiceText>Declined - Missing AML documents</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Declined - Missing AML documents</stringValue>
        </value>
    </choices>
    <choices>
        <name>Missing_subsidiary_info</name>
        <choiceText>Declined - Missing subsidiary info</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Declined - Missing subsidiary info</stringValue>
        </value>
    </choices>
    <choices>
        <name>Professional_Clearance</name>
        <choiceText>Declined - Professional Clearance response incomplete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Declined - Professional Clearance response incomplete</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <interviewLabel>Case: Declined Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: Declined Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>updateCaseRecord</name>
        <label>updateCaseRecord</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <inputReference>variableCase</inputReference>
    </recordUpdates>
    <screens>
        <name>Declined_Reason</name>
        <label>Declined Reason</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignValues</targetReference>
        </connector>
        <fields>
            <name>DeclinedCase</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Please choose Closed Reason and populate Declined Additional reason:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Declined_Reason_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Declined_Reason_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Closed_Reason</name>
                    <choiceReferences>Missing_AML_documents</choiceReferences>
                    <choiceReferences>CAF_incomplete</choiceReferences>
                    <choiceReferences>Professional_Clearance</choiceReferences>
                    <choiceReferences>Missing_subsidiary_info</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Closed Reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Declined_Additional_Reason</name>
                    <fieldText>Declined Additional Reason</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Declined_Reason_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Declined_Reason</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>variableCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
