force-app/main/default/flows/Case_Add_Owner_as_Team_member.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>User_is_already_a_case_team_member</name>
        <label>User is already a case team member</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>user_role_is_in_case_team_role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create User as Team Member</defaultConnectorLabel>
        <rules>
            <name>Do_nothing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Case_Team_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Do nothing</label>
        </rules>
    </decisions>
    <decisions>
        <name>user_role_is_in_case_team_role</name>
        <label>user role is in case team role</label>
        <locationX>330</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>get_unassigned_team_role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_in_case_team_role</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Title</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lifecycle Coordinator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Title</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lifecycle Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Title</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Risk &amp; Compliance Coordinator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Title</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Risk &amp; Compliance Director</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Title</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Risk &amp; Compliance Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Title</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Risk &amp; Compliance Senior Manage</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Title</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner - Head Of Risk and Compliance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_case_team_role</targetReference>
            </connector>
            <label>yes - in case team role</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case - Add Owner as Team member {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Add Owner as Team member</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case_team_member</name>
        <label>Create Case team member</label>
        <locationX>198</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamRoleId</field>
            <value>
                <elementReference>get_case_team_role.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CaseTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_team_member_without_role</name>
        <label>create team member without role</label>
        <locationX>462</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamRoleId</field>
            <value>
                <elementReference>get_unassigned_team_role.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CaseTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_Case_Team_Member</name>
        <label>get Case Team Member</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_is_already_a_case_team_member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_case_team_role</name>
        <label>get case team role</label>
        <locationX>198</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case_team_member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner:User.Title</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseTeamRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_unassigned_team_role</name>
        <label>get unassigned team role</label>
        <locationX>462</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>create_team_member_without_role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unassigned</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseTeamRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Case_Team_Member</targetReference>
        </connector>
        <filterFormula>AND(NOT({!$Setup.Org_Wide_Settings__c.Disable_Flows__c}),
ISCHANGED({!$Record.OwnerId}),
BEGINS({!$Record.OwnerId}, &quot;005&quot;)
)</filterFormula>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
