force-app/main/default/flows/Case_BTNC_Continuation_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Upload_File_to_Sharepoint</name>
        <label>Upload File to Sharepoint</label>
        <locationX>50</locationX>
        <locationY>1622</locationY>
        <actionName>SharepointUploadFileInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Business_CAF</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fileIds</name>
            <value>
                <elementReference>fileIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SharepointUploadFileInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Business_CAF_to_varForm</name>
        <label>Assign Business CAF to varForm</label>
        <locationX>226</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varForm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Business_CAF</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_File_Ids</name>
        <label>Assign File Ids</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>fileIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EngagemenLetter_upload.contentVersionIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fileIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>KYCSmartSearch_upload.contentVersionIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fileIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewClientForm_upload.contentVersionIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fileIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OtherOnboardingDocuments_upload.contentVersionIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_there_a_File_Upload</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Form_ID</name>
        <label>Assign Form ID</label>
        <locationX>490</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varForm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Business_CAF_Created</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Business_CAF</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_to_varForm</name>
        <label>Assign Variables to varForm</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>varForm.Date_of_original_engagement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_original_engagement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Client_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Client_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Consider_changes_that_alter_assessment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Picklist1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Consider_changes_that_alter_assessment_T__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consider_changes_that_alter_assessment_T</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Conflicting_checking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Picklist2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Conflicting_checking_text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Conflicting_checking_text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.If_adding_a_new_service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Picklist3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.If_adding_a_new_service_T__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ifaddinganewservice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Business_structure_complex_unusual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Picklist4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Business_structure_complex_unusual_T__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_structure_complex_unusual_T</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Client_transact_with_business_overseas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Picklist5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Client_transact_with_business_overseas_T__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Client_transact_with_business_overseas_T</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Is_control_remote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Picklist6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Is_control_remote_T__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_control_remote_T</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Is_it_a_cash_business__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Picklist7</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Is_it_a_cash_business_T__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_it_a_cash_business_T</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Any_concerns_over_the_source_of_funds_T__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Picklist8</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Any_concerns_over_the_source_of_funds__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Any_concerns_over_the_source_of_funds_T1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Have_we_met_the_client_face_to_face__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Picklist9</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Have_we_met_the_client_face_to_face_T__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Have_we_met_the_client_face_to_face_T1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Politically_Exposed_Person__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Picklist10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Politically_Exposed_Person_T__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Politically_Exposed_Person_T1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Money_Laundering_Risk__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Picklist11</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Money_Laundering_Risk_T__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordEDDprocedures</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Risk_level_changed_from_Normal_to_High__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Picklist12</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Risk_level_changed_from_Normal_to_High_T__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>detailtheadditionalverificationworkcarriedout</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Know_your_client_information_held__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Picklist13</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Know_your_client_information_held_T__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NonAuditservicesadded</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Still_be_acting_for_the_client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Picklist15</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Still_be_acting_for_the_client_T__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Still_be_acting_for_the_client_T</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Does_the_Engagement_Letter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Picklist14</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Additional_Client_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClientCodeLTA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Additional_Client_Names__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClientNameLTA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForm.Client_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_File_Ids</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_any_Pending_Approval_Status</name>
        <label>Check any Pending Approval Status</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Close_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Pending Approvals</defaultConnectorLabel>
        <rules>
            <name>No_Pending_Approvals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Approval_Process</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Business_CAF</targetReference>
            </connector>
            <label>No Pending Approvals</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Approval</name>
        <label>Check Approval</label>
        <locationX>358</locationX>
        <locationY>1190</locationY>
        <defaultConnectorLabel>Approved</defaultConnectorLabel>
        <rules>
            <name>Not_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Variables_to_varForm</targetReference>
            </connector>
            <label>Not Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Completion_Form</name>
        <label>Check Completion Form</label>
        <locationX>182</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>Update_Completion_Fields_in_Form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Completed</defaultConnectorLabel>
        <rules>
            <name>Already_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Business_CAF.Completed_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>Already Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Form</name>
        <label>Check Form</label>
        <locationX>358</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Create_Business_CAF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Form Found</defaultConnectorLabel>
        <rules>
            <name>Business_CAF_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Business_CAF</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Business_CAF_to_varForm</targetReference>
            </connector>
            <label>Business CAF Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_File_Upload</name>
        <label>Is there a File Upload</label>
        <locationX>182</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <targetReference>Update_Business_CAF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>File_Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fileIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fileIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>068</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upload_File_to_Sharepoint</targetReference>
            </connector>
            <label>File Uploaded</label>
        </rules>
    </decisions>
    <description>BUSINESS, TRUSTS AND NON-PERSONAL CLIENTS</description>
    <environments>Default</environments>
    <formulas>
        <name>FullName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}&amp;&quot; &quot;&amp;{!$User.LastName}</expression>
    </formulas>
    <interviewLabel>Case - Continuation Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Business CAF Continuation Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Business_CAF</name>
        <label>Create Business CAF</label>
        <locationX>490</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Get_Business_CAF_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Case.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form_Type__c</field>
            <value>
                <stringValue>Business CAF</stringValue>
            </value>
        </inputAssignments>
        <object>Continuation_Form__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Approval_Process</name>
        <label>Get Approval Process</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_any_Pending_Approval_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProcessInstance</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Business_CAF</name>
        <label>Get Business CAF</label>
        <locationX>358</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Form_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business CAF</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Continuation_Form__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Business_CAF_Created</name>
        <label>Get Business CAF - Created</label>
        <locationX>490</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Form_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Business_CAF</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Continuation_Form__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Approval_Process</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Business_CAF</name>
        <label>Update Business CAF</label>
        <locationX>182</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>Check_Completion_Form</targetReference>
        </connector>
        <inputReference>varForm</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>182</locationX>
        <locationY>2222</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Continuation_Form_Complete__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Completion_Fields_in_Form</name>
        <label>Update Completion Fields in Form</label>
        <locationX>270</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varForm.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Completed_By__c</field>
            <value>
                <elementReference>FullName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Completed_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Continuation_Form__c</object>
    </recordUpdates>
    <screens>
        <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS</name>
        <label>BUSINESS, TRUSTS AND NON-PERSONAL CLIENTS</label>
        <locationX>358</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Approval</targetReference>
        </connector>
        <fields>
            <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>header1</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>ContinuationLogo</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>header_txt1</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 12pt;&quot;&gt;ONGOING MONITORING&lt;/strong&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Ebrima;&quot;&gt; &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: Ebrima; font-size: 12pt;&quot;&gt;&amp;amp; ADDITIONAL SERVICE CHECKLIST&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>header_txt2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14pt;&quot;&gt;BUSINESS, TRUSTS AND NON-PERSONAL CLIENTS&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>clientName_txt1</name>
                    <fieldText>&lt;p&gt;Client: {!Get_Case.Contact.FirstName} {!Get_Case.Contact.LastName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_of_original_engagement</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>varForm.Date_of_original_engagement__c</elementReference>
                    </defaultValue>
                    <fieldText>Date of original engagement:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Client_Code</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varForm.Client_Code__c</elementReference>
                    </defaultValue>
                    <fieldText>Client Code:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>varForm.Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Date:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>signature_txt1</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: Ebrima; font-size: 11pt;&quot;&gt;Signature:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>header_txt4</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: Ebrima; font-size: 9pt;&quot;&gt;Comments (Yes or No and additional explanations)&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>header_txt5</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: red; font-family: Ebrima; font-size: 12pt;&quot;&gt;Please use this checklist annually for AML purposes and when determining whether to continue with an engagement:&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section6_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>a</name>
                    <fieldText>&lt;p&gt;a&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>a_txt</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: Ebrima;&quot;&gt;Have you considered changes that may alter the original assessment of the acceptability of the client and engagement.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: Ebrima;&quot;&gt;Examples of changes that shall cause a careful reconsideration are:&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 10pt; font-family: Ebrima;&quot;&gt;•  Changes in name and/or address;&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 10pt; font-family: Ebrima;&quot;&gt;•  a significant change in the size, structure or nature of the client&apos;s business;&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 10pt; font-family: Ebrima;&quot;&gt;•  new sources of finance;&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 10pt; font-family: Ebrima;&quot;&gt;•  a major change in the ownership, management or Trustees of the client; &lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 10pt; font-family: Ebrima;&quot;&gt;•  new regulatory reporting requirements:&amp;nbsp;and/or&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 10pt; font-family: Ebrima;&quot;&gt;•&amp;nbsp;&amp;nbsp;additional service added.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section7_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Picklist1</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varForm.Consider_changes_that_alter_assessment__c</elementReference>
                    </defaultValue>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Consider_changes_that_alter_assessment_T</name>
                    <defaultValue>
                        <stringValue>{!varForm.Consider_changes_that_alter_assessment_T__c}</stringValue>
                    </defaultValue>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>b</name>
                    <fieldText>&lt;p&gt;b&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>b_txt</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: Ebrima;&quot;&gt;Have you completed conflict checking to determine whether there were any:&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 10pt; font-family: Ebrima;&quot;&gt;•&amp;nbsp;changes in the controlling ownership interests over the entity;&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 10pt; font-family: Ebrima;&quot;&gt;•&amp;nbsp;changes in any controlling interests held by the entity;&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 10pt; font-family: Ebrima;&quot;&gt;•&amp;nbsp;new listings in the group; &lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 10pt; font-family: Ebrima;&quot;&gt;•&amp;nbsp;any known change in service providers that may impact independence; or &lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 10pt; font-family: Ebrima;&quot;&gt;•&amp;nbsp;changes in classification of the entity as public interest.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: Ebrima; color: red;&quot;&gt;Any such changes will require reconsideration of the firm’s conflict checking procedures&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section8_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Picklist2</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varForm.Conflicting_checking__c</elementReference>
                    </defaultValue>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Conflicting_checking_text</name>
                    <defaultValue>
                        <stringValue>{!varForm.Conflicting_checking_text__c}</stringValue>
                    </defaultValue>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section9_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>b_txt2</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: Ebrima; font-size: 10pt;&quot;&gt;If adding a new service, have we received Professional Clearance, or sent Professional enquiry to the current advisor&lt;/strong&gt;&lt;span style=&quot;font-family: Ebrima; font-size: 10pt;&quot;&gt;?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section9_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Picklist3</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varForm.If_adding_a_new_service__c</elementReference>
                    </defaultValue>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Ifaddinganewservice</name>
                    <defaultValue>
                        <stringValue>{!varForm.If_adding_a_new_service_T__c}</stringValue>
                    </defaultValue>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>c</name>
                    <fieldText>&lt;p&gt;c&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section10_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>c_txt1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Ebrima; font-size: 10pt;&quot;&gt;Is the business structure complex/unusual?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section10_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Picklist4</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varForm.Business_structure_complex_unusual__c</elementReference>
                    </defaultValue>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Business_structure_complex_unusual_T</name>
                    <defaultValue>
                        <stringValue>{!varForm.Business_structure_complex_unusual_T__c}</stringValue>
                    </defaultValue>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section11</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section11_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section11_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>c_txt2</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Ebrima; font-size: 10pt;&quot;&gt;Does the client transact with businesses in overseas countries with weak money laundering regimes?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section11_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Picklist5</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varForm.Client_transact_with_business_overseas__c</elementReference>
                    </defaultValue>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Client_transact_with_business_overseas_T</name>
                    <defaultValue>
                        <stringValue>{!varForm.Client_transact_with_business_overseas_T__c}</stringValue>
                    </defaultValue>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section12</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section12_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section12_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>c_txt3</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Ebrima; font-size: 10pt;&quot;&gt;Is control remote?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section12_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Picklist6</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varForm.Is_control_remote__c</elementReference>
                    </defaultValue>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Is_control_remote_T</name>
                    <defaultValue>
                        <stringValue>{!varForm.Is_control_remote_T__c}</stringValue>
                    </defaultValue>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section13</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section13_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section13_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>c_txt4</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Ebrima; font-size: 10pt;&quot;&gt;Is it a cash business?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section13_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Picklist7</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varForm.Is_it_a_cash_business__c</elementReference>
                    </defaultValue>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Is_it_a_cash_business_T</name>
                    <defaultValue>
                        <stringValue>{!varForm.Is_it_a_cash_business_T__c}</stringValue>
                    </defaultValue>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section14</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section14_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section14_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>c_txt5</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Ebrima; font-size: 10pt;&quot;&gt;Do we have any concerns over the source of the client’s funds?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section14_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Picklist8</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varForm.Any_concerns_over_the_source_of_funds__c</elementReference>
                    </defaultValue>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Any_concerns_over_the_source_of_funds_T1</name>
                    <defaultValue>
                        <stringValue>{!varForm.Any_concerns_over_the_source_of_funds_T__c}</stringValue>
                    </defaultValue>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section15</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section15_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section15_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>c_txt6</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: red; font-family: Ebrima; font-size: 10pt;&quot;&gt;Check that ‘a’ and ‘b’ are a “Yes” answer and all in ‘c’ are ‘No’ – responses that do not match meet this criteria means the client must be treated as HIGH risk&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section15_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section16</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section16_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section16_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>c_txt7</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: Ebrima;&quot;&gt;Have we met the client face to face? &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: Ebrima;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: Ebrima;&quot;&gt;&amp;nbsp;If yes who?&amp;nbsp;&amp;nbsp;[Insert names here]&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Name1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varForm.Client_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>c_txt11</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 13.3333px; font-family: Ebrima; color: rgb(255, 0, 0);&quot;&gt;If “No” the client must be treated as high risk&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section16_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Picklist9</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varForm.Have_we_met_the_client_face_to_face__c</elementReference>
                    </defaultValue>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Have_we_met_the_client_face_to_face_T1</name>
                    <defaultValue>
                        <stringValue>{!varForm.Have_we_met_the_client_face_to_face_T__c}</stringValue>
                    </defaultValue>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section17</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section17_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section17_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>c_txt8</name>
                    <fieldText>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-family: Ebrima; font-size: 10pt;&quot;&gt;Has the client or a member of their family or a known close associate become a Politically Exposed Person (PEP)?&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section17_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Picklist10</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varForm.Politically_Exposed_Person__c</elementReference>
                    </defaultValue>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Politically_Exposed_Person_T1</name>
                    <defaultValue>
                        <stringValue>{!varForm.Politically_Exposed_Person_T__c}</stringValue>
                    </defaultValue>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section18</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section18_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section18_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>c_txt9</name>
                    <fieldText>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;font-size: 10pt; font-family: Ebrima;&quot;&gt;If “Yes” the client must be treated as high risk and Enhanced Due Diligence (EDD) procedures as set out in the firm’s Client Acceptance Guidance Notes (available on the intranet) applied.&amp;nbsp;Record EDD procedures undertaken here:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>RecordEDDprocedures</name>
                    <defaultValue>
                        <stringValue>{!varForm.Money_Laundering_Risk_T__c}</stringValue>
                    </defaultValue>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section18_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section19</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section19_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section19_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>c_txt10</name>
                    <fieldText>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;font-family: Ebrima; font-size: 10pt;&quot;&gt;Considering the above factors, the Money Laundering Risk is:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section19_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Picklist11</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varForm.Money_Laundering_Risk__c</elementReference>
                    </defaultValue>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section20</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section20_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section20_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>header_5</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: Ebrima; font-size: 16pt;&quot;&gt;ANTI-MONEY LAUNDERING REVIEW&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section20_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section21</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section21_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>d</name>
                    <fieldText>&lt;p&gt;d&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section21_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>d_txt1</name>
                    <fieldText>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;font-family: Ebrima; font-size: 10pt;&quot;&gt;Has the risk level changed from Normal to High since the previously recorded risk level?&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section21_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Picklist12</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varForm.Risk_level_changed_from_Normal_to_High__c</elementReference>
                    </defaultValue>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section22</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section22_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>e</name>
                    <fieldText>&lt;p&gt;e&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section22_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>e_txt1</name>
                    <fieldText>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;font-size: 10pt; font-family: Ebrima;&quot;&gt;If “Yes” detail the additional verification work carried out:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 10pt; font-family: Arial, sans-serif;&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;font-size: 10pt; font-family: Ebrima;&quot;&gt;NB: Identity verification&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 10pt; font-family: Ebrima;&quot;&gt;&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 10pt; font-family: Ebrima;&quot;&gt;Normal Risk:&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/strong&gt;&lt;span style=&quot;font-size: 10pt; font-family: Ebrima;&quot;&gt;SmartSearch check (“Normal” risk setting) &lt;/span&gt;&lt;strong style=&quot;font-size: 10pt; font-family: Ebrima;&quot;&gt;OR&lt;/strong&gt;&lt;span style=&quot;font-size: 10pt; font-family: Ebrima;&quot;&gt; one government issued document with photo e.g. passport or driving licence;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: Ebrima;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 10pt; font-family: Ebrima;&quot;&gt;High Risk:&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/strong&gt;&lt;span style=&quot;font-size: 10pt; font-family: Ebrima;&quot;&gt;SmartSearch check (“High” risk setting); &lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-4&quot;&gt;&lt;strong style=&quot;font-size: 10pt; font-family: Ebrima;&quot;&gt;OR&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: Ebrima;&quot;&gt;One government issued document with photo e.g. passport or driving licence &lt;/span&gt;&lt;strong style=&quot;font-size: 10pt; font-family: Ebrima;&quot;&gt;AND&lt;/strong&gt;&lt;span style=&quot;font-size: 10pt; font-family: Ebrima;&quot;&gt; document detailing address e.g. utility bill.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>detailtheadditionalverificationworkcarriedout</name>
                    <defaultValue>
                        <stringValue>{!varForm.Risk_level_changed_from_Normal_to_High_T__c}</stringValue>
                    </defaultValue>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section22_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section23</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section23_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>f</name>
                    <fieldText>&lt;p&gt;f&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section23_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>f_txt1</name>
                    <fieldText>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-family: Ebrima; font-size: 10pt;&quot;&gt;Ensure that the “know your client” information held on our files for anti-money laundering purposes is updated for any changes identified above and in any other relevant respects.&amp;nbsp;Ensure any changes to Beneficial Ownership are recorded and any additional ID verification undertaken.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-family: Ebrima; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;font-family: Ebrima; font-size: 9pt;&quot;&gt;&amp;nbsp;For Non-Audit services added to an Audit client please complete the questions below.&lt;/strong&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;The type of non-audit service giving as much detail as possible, including the fee level? &lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;The services are to be carried out by a separate team with a separate partner not involved in the audit which are?&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;Any other safeguards that are deemed necessary by the Audit partner?&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 10pt;&quot;&gt;Full details of the ethical considerations should be detailed on the Audit file by the Audit partner (this must be confirmed on the CF)?&lt;/span&gt;&lt;/li&gt;&lt;/ol&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>NonAuditservicesadded</name>
                    <defaultValue>
                        <stringValue>{!varForm.Know_your_client_information_held_T__c}</stringValue>
                    </defaultValue>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section23_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Picklist13</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varForm.Know_your_client_information_held__c</elementReference>
                    </defaultValue>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section24</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section24_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>g</name>
                    <fieldText>&lt;p&gt;g&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section24_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>g_txt1</name>
                    <fieldText>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;font-family: Ebrima; font-size: 10pt;&quot;&gt;Does the Engagement Letter cover all services we currently provide?&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;font-family: Ebrima; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Ebrima; font-size: 10pt;&quot;&gt;Attach a copy of the Engagement Letter below:&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>EngagemenLetter_upload</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Upload File</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varForm.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>contentVersionIds</name>
                        <value>
                            <elementReference>fileIds</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section24_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Picklist14</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varForm.Does_the_Engagement_Letter__c</elementReference>
                    </defaultValue>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section25</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section25_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section25_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section25_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section26</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section26_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>h</name>
                    <fieldText>&lt;p&gt;h&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section26_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>h_txt1</name>
                    <fieldText>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;font-family: Ebrima; font-size: 10pt;&quot;&gt;Attach copies of the new client form, SmartSearch and onboarding documents here&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section26_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section27</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section27_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>h_txt3</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 9pt; font-family: Ebrima;&quot;&gt;New Client Form&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>NewClientForm_upload</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Supporting documents linking sub to parent including SmartSearch &amp; CAP Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varForm.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>contentVersionIds</name>
                        <value>
                            <elementReference>fileIds</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section27_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>h_txt4</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: Ebrima; font-size: 9pt;&quot;&gt;Company/KYC SmartSearch&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>KYCSmartSearch_upload</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Supporting documents linking sub to parent including SmartSearch &amp; CAP Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varForm.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>contentVersionIds</name>
                        <value>
                            <elementReference>fileIds</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section27_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>h_txt5</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: Ebrima; font-size: 9pt;&quot;&gt;Other Onboarding Documents&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>OtherOnboardingDocuments_upload</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Supporting documents linking sub to parent including SmartSearch &amp; CAP Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varForm.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>contentVersionIds</name>
                        <value>
                            <elementReference>fileIds</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section28</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section28_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>I</name>
                    <fieldText>&lt;p&gt;I&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section28_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>i_txt1</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: Ebrima; font-size: 10pt;&quot;&gt;Considering the answers to the above should we still be acting for the client?&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section28_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Picklist15</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varForm.Still_be_acting_for_the_client__c</elementReference>
                    </defaultValue>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Still_be_acting_for_the_client_T</name>
                    <defaultValue>
                        <stringValue>{!varForm.Still_be_acting_for_the_client_T__c}</stringValue>
                    </defaultValue>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section29</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section29_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>J</name>
                    <fieldText>&lt;p&gt;J&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section29_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>j_txt1</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: Ebrima; font-size: 10pt;&quot;&gt;Additional entities in the Group&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section29_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section30</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section30_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>j_txt2</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 9pt; font-family: Ebrima;&quot;&gt;Client Code&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ClientCodeLTA</name>
                    <defaultValue>
                        <stringValue>{!varForm.Additional_Client_Code__c}</stringValue>
                    </defaultValue>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section30_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>j_txt3</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 9pt; font-family: Ebrima;&quot;&gt;Client Name&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ClientNameLTA</name>
                    <defaultValue>
                        <stringValue>{!varForm.Additional_Client_Names__c}</stringValue>
                    </defaultValue>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section31</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BUSINESS_TRUSTS_AND_NON_PERSONAL_CLIENTS_Section31_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Close_Screen</name>
        <label>Close Screen</label>
        <locationX>798</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;The record is currently locked, as there is a pending approval.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>fileIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varForm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Continuation_Form__c</objectType>
    </variables>
</Flow>
