force-app/main/default/flows/CS_Gifts_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>assign_to_variable</name>
        <label>assign to variable</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Single_Gift.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountiD</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Gift.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Gift.Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_gifts.Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Gift.Feedback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_gifts.Feedback</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Gift.Date_Gift_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_gifts.Date_Gift_Sent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Gift.Lead_Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_gifts.Lead_Area</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Gift.Occasion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_gifts.Occasion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Gift.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_gifts.Gift_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Gift.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GIft_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Single_Gift</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_gifts</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>PCS_LeadArea</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Lead_Area__c</picklistField>
        <picklistObject>CX_Gift__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PCS_Occasion</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Occasion__c</picklistField>
        <picklistObject>CX_Gift__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>AccountiD</name>
        <dataType>String</dataType>
        <expression>IF(BEGINS ({!recordId}, &quot;003&quot;), {!get_Contact.AccountId}, &quot; &quot;)</expression>
    </formulas>
    <formulas>
        <name>ContactId</name>
        <dataType>String</dataType>
        <expression>IF(BEGINS ({!recordId}, &quot;003&quot;),{!get_Contact.Id}, &quot; &quot;)</expression>
    </formulas>
    <formulas>
        <name>F_AccountName</name>
        <dataType>String</dataType>
        <expression>IF (BEGINS ({!recordId}, &quot;003&quot;), &quot;Account:&quot; + {!get_Contact.Account.Name}, &quot; &quot;)</expression>
    </formulas>
    <formulas>
        <name>F_Related_To_Name</name>
        <dataType>String</dataType>
        <expression>IF(BEGINS ({!recordId}, &quot;003&quot;), {!get_Contact.FirstName} + &quot; &quot; + {!get_Contact.LastName} , {!get_lead.FirstName} + &quot; &quot; + {!get_lead.LastName})</expression>
    </formulas>
    <formulas>
        <name>LeadId</name>
        <dataType>String</dataType>
        <expression>IF(BEGINS ({!recordId}, &quot;00Q&quot;), {!get_lead.Id}, &quot; &quot;)</expression>
    </formulas>
    <formulas>
        <name>Today_Formula</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>CS Gifts Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CX Gifts Screen Flow</label>
    <loops>
        <name>loop_through_gifts</name>
        <label>loop through gifts</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>Gift_Repeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_to_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Review_Gifts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Gifts</name>
        <label>Create Gifts</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputReference>GIft_Collection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Contact</name>
        <label>get Contact</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_lead</name>
        <label>get lead</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Review_Gifts</name>
        <label>Review Gifts</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Gifts</targetReference>
        </connector>
        <fields>
            <name>CX_Gifts</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>CX_Gift__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>CX Gifts</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GIft_Collection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-9b44&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Gift&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Lead_Area__c&quot;,&quot;guid&quot;:&quot;column-2085&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Lead Area&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Occasion__c&quot;,&quot;guid&quot;:&quot;column-8904&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Occasion&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Date_Gift_Sent__c&quot;,&quot;guid&quot;:&quot;column-8f8d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Date Gift Sent&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Cost__c&quot;,&quot;guid&quot;:&quot;column-4273&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Cost&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Feedback__c&quot;,&quot;guid&quot;:&quot;column-0026&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Feedback&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>loop_through_gifts</targetReference>
        </connector>
        <fields>
            <name>Screen1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RelatedToText</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Related to: {!F_Related_To_Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen1_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account_Text</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Account: {!F_AccountName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Gift_Repeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Gift_Name</name>
                <dataType>String</dataType>
                <fieldText>Gift Name</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Lead_Area</name>
                <choiceReferences>PCS_LeadArea</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Lead Area</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Occasion</name>
                <choiceReferences>PCS_Occasion</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Occasion</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Date_Gift_Sent</name>
                <dataType>Date</dataType>
                <defaultValue>
                    <elementReference>Today_Formula</elementReference>
                </defaultValue>
                <fieldText>Date Gift Sent</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Cost</name>
                <dataType>Currency</dataType>
                <fieldText>Cost</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>2</scale>
            </fields>
            <fields>
                <name>Feedback</name>
                <fieldText>Feedback</fieldText>
                <fieldType>LargeTextArea</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Created_Gifts</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;CX Gifts are now created and linked to {!get_Contact.FirstName} {!get_Contact.LastName} &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>GIft_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CX_Gift__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Single_Gift</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CX_Gift__c</objectType>
    </variables>
</Flow>
