force-app/main/default/flows/CT_Milestone_Rev_Rec_Settings.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Rev_Rec_Values</name>
        <label>Assign Rev Rec Values</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>RevRecTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MS_Practice.CT_Default_Recognition_Template__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecoveryRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MS_Practice.CT_Expected_Recovery_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Rev_Rec_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rev_Rcc_Types</name>
        <label>Rev Rcc Types</label>
        <locationX>50</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>RRType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Rev_Rec_Template.ffrr__RevRecType__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Milestone</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Milestone_Rev_Rec</name>
        <label>Milestone Rev Rec</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Update_MS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Project Rev Rec</defaultConnectorLabel>
        <rules>
            <name>Milestone_Revenue_Recognition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_MS_Practice.CT_Project_or_Milestone_Recognition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Milestone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Rev_Rec_Values</targetReference>
            </connector>
            <label>Milestone Revenue Recognition</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CT_Milestone_Rev_Rec_Settings {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CT_Milestone_Rev_Rec_Settings</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_MS_Practice</name>
        <label>Get MS Practice</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Milestone_Rev_Rec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pse__Project__r.pse__Practice__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Practice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Rev_Rec_Template</name>
        <label>Get Rev Rec Template</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Rev_Rcc_Types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RevRecTemplate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ffrr__Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Milestone</name>
        <label>Update Milestone</label>
        <locationX>50</locationX>
        <locationY>827</locationY>
        <inputAssignments>
            <field>CT_Manual_Recovery_Rate__c</field>
            <value>
                <elementReference>RecoveryRate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ffrrtemplate__c</field>
            <value>
                <elementReference>RevRecTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Recognition_Method__c</field>
            <value>
                <elementReference>RRType</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MS</name>
        <label>Update MS</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>CT_Manual_Recovery_Rate__c</field>
            <value>
                <elementReference>RecoveryRate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ffrrtemplate__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_MS_Practice</targetReference>
        </connector>
        <object>pse__Milestone__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RecoveryRate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RevRecTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RRType</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
