force-app/main/default/flows/CT_Project_Rev_Rec_Settings.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Rev_Rec_Values</name>
        <label>Assign Rev Rec Values</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>RevRecTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Practice.CT_Default_Recognition_Template__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecoveryRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Practice.CT_Expected_Recovery_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Rev_Rec_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Template</name>
        <label>Clear Template</label>
        <locationX>138</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>Loop_Milestones.ffrrtemplate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Milestones.pse__Recognition_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updated_Milestones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rev_Rcc_Types</name>
        <label>Rev Rcc Types</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>RRType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Rev_Rec_Template.ffrr__RevRecType__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Updated_Milestones</name>
        <label>Updated Milestones</label>
        <locationX>138</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>UpdatedMilestones</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Milestones</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Milestones</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Project_Rev_Rec</name>
        <label>Project Rev Rec</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_Project_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Project Rev Rec</defaultConnectorLabel>
        <rules>
            <name>Project_Revenue_Recognition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Practice.CT_Project_or_Milestone_Recognition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Rev_Rec_Values</targetReference>
            </connector>
            <label>Project Revenue Recognition</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CT_Project_Rev_Rec_Settings {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CT_Project_Rev_Rec_Settings</label>
    <loops>
        <name>Loop_Milestones</name>
        <label>Loop Milestones</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <collectionReference>Get_Milestones</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Clear_Template</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Clear_MS_Rev_Rec_Template</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Milestones</name>
        <label>Get Milestones</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Milestones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pse__Milestone__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Practice</name>
        <label>Get Practice</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Project_Rev_Rec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pse__Practice__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Practice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Rev_Rec_Template</name>
        <label>Get Rev Rec Template</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Rev_Rcc_Types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RevRecTemplate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ffrr__Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Clear_MS_Rev_Rec_Template</name>
        <label>Clear MS Rev Rec Template</label>
        <locationX>50</locationX>
        <locationY>1487</locationY>
        <inputReference>UpdatedMilestones</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Project</name>
        <label>Update Project</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Get_Milestones</targetReference>
        </connector>
        <inputAssignments>
            <field>CT_Manual_Recovery_Rate__c</field>
            <value>
                <elementReference>RecoveryRate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ffrrtemplate__c</field>
            <value>
                <elementReference>RevRecTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Recognition_Method__c</field>
            <value>
                <elementReference>RRType</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Project_Record</name>
        <label>Update Project Record</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>CT_Manual_Recovery_Rate__c</field>
            <value>
                <elementReference>RecoveryRate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ffrrtemplate__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Practice</targetReference>
        </connector>
        <object>pse__Proj__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RecoveryRate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RevRecTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RRType</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UpdatedMilestones</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>pse__Milestone__c</objectType>
    </variables>
</Flow>
