force-app/main/default/flows/CT_Release_Billing_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_to_AccountIds</name>
        <label>Add to AccountIds</label>
        <locationX>996</locationX>
        <locationY>2546</locationY>
        <assignmentItems>
            <assignToReference>AccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_trough_Milestones.CT_Billing_Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Default_Account_on_billing_event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Milestone_Ids</name>
        <label>Add to Milestone Ids</label>
        <locationX>820</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>MileStoneIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_All_Items.pse__Milestone__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_All_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Partner_from_Project</name>
        <label>Assign Project Partner from Project</label>
        <locationX>578</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>ProjectPartnerUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get.pse__Project__r.CT_Project_Partner__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Project_Partner_approval_required_set_to_TRUE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Partner_from_Screen</name>
        <label>Assign Project Partner from Screen</label>
        <locationX>50</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>ProjectPartnerUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjectPartnerUserIdLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Project_Partner_on_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Multiple_Accounts_Detected</name>
        <label>Multiple Accounts Detected</label>
        <locationX>1260</locationX>
        <locationY>2546</locationY>
        <assignmentItems>
            <assignToReference>MultipleAccountsDetected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_to_AccountIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Release_Billing_Event</name>
        <label>Release Billing Event</label>
        <locationX>732</locationX>
        <locationY>3446</locationY>
        <assignmentItems>
            <assignToReference>Get.pse__Is_Released__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Billing_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Account_on_billing_event</name>
        <label>Save Account on billing event</label>
        <locationX>468</locationX>
        <locationY>3254</locationY>
        <assignmentItems>
            <assignToReference>Get.ffpsai__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectAccount.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Release_Billing_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Default_Account_on_billing_event</name>
        <label>Save Default Account on billing event</label>
        <locationX>996</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>Get.ffpsai__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_trough_Milestones.CT_Billing_Account__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_trough_Milestones</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_all_billable_milestones_billed</name>
        <label>Are all billable milestones billed?</label>
        <locationX>94</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Approval_required_Message_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No milestones left</defaultConnectorLabel>
        <rules>
            <name>not_all_milestones_are_billed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_unbilled_Milestones</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Milestone_Details</targetReference>
            </connector>
            <label>not all milestones are billed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_multiple_accounts_selected</name>
        <label>Are multiple accounts selected?</label>
        <locationX>732</locationX>
        <locationY>2930</locationY>
        <defaultConnector>
            <targetReference>Select_Billing_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MultipleAccountsDetected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Accounts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Project_Partner</name>
        <label>Check Project Partner</label>
        <locationX>314</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>Assign_Project_Partner_from_Project</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Project_Partner_not_entered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get.pse__Project__r.CT_Project_Partner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Project_Partner</targetReference>
            </connector>
            <label>Project Partner not entered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Different_Account</name>
        <label>Different Account?</label>
        <locationX>1040</locationX>
        <locationY>2438</locationY>
        <defaultConnector>
            <targetReference>Multiple_Accounts_Detected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_trough_Milestones.CT_Billing_Account__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_trough_Milestones</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>First_Milestone_list_is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_AccountIds</targetReference>
            </connector>
            <label>First Milestone (list is empty)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Project_recovery_rate_below_70_and_not_approved_yest</name>
        <label>Is Project recovery rate below 70% and not approved yes</label>
        <locationX>732</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <targetReference>Get_Milestone_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_less_than_70</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get.pse__Project__r.CT_Actual_Recovery_Rate__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get.CP_Approved_by_Project_Partner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_unbilled_Milestones</targetReference>
            </connector>
            <label>Yes, less than 70%</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the Billing Event is correctly saved. 
This is needed because the flow does not throw an error if the user does not have sufficient access to the required fields on the Billing Event.</description>
        <name>Record_saved_correctly</name>
        <label>Record saved correctly?</label>
        <locationX>732</locationX>
        <locationY>3770</locationY>
        <defaultConnector>
            <targetReference>Error_Screen_Access_problem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_saved_correctly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Billing_Event_saved_Details.pse__Is_Released__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>yes,saved correctly</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_To_Milestone</name>
        <label>Related To Milestone?</label>
        <locationX>952</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>For_All_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_All_Items.pse__Milestone__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Milestone_Ids</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CT Release Billing Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CT Release Billing Event</label>
    <loops>
        <name>For_All_Items</name>
        <label>For All Items</label>
        <locationX>732</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Billing_Event_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Related_To_Milestone</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Project_recovery_rate_below_70_and_not_approved_yest</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_trough_Milestones</name>
        <label>Loop trough Milestones</label>
        <locationX>732</locationX>
        <locationY>2330</locationY>
        <collectionReference>Get_Milestone_Details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Different_Account</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_multiple_accounts_selected</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get</name>
        <label>Get Billing Event Details</label>
        <locationX>732</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Billing_Event_Items</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Billing_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>468</locationX>
        <locationY>3038</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Select_Billing_Account</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>AccountIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Billing_Event_Items</name>
        <label>Get Billing Event Items</label>
        <locationX>732</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_All_Items</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Billing_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pse__Billing_Event_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Billing_Event_saved_Details</name>
        <label>Get Billing Event saved Details</label>
        <locationX>732</locationX>
        <locationY>3662</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_saved_correctly</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Billing_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Milestone_Details</name>
        <label>Get Milestone Details</label>
        <locationX>732</locationX>
        <locationY>2222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_trough_Milestones</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>MileStoneIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pse__Milestone__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves the remaining unbilled billable milestones</description>
        <name>Get_unbilled_Milestones</name>
        <label>Get unbilled Milestones</label>
        <locationX>94</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_all_billable_milestones_billed</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>MileStoneIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>pse__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get.pse__Project__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pse__Billing_Event__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pse__Milestone__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Project_Partner_approval_required_set_to_TRUE</name>
        <label>Project Partner approval required set to TRUE</label>
        <locationX>314</locationX>
        <locationY>1838</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CT_Project_Partner_approval_required__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Approver__c</field>
            <value>
                <elementReference>ProjectPartnerUserId</elementReference>
            </value>
        </inputAssignments>
        <object>pse__Billing_Event__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Billing_Event</name>
        <label>Update Billing Event</label>
        <locationX>732</locationX>
        <locationY>3554</locationY>
        <connector>
            <targetReference>Get_Billing_Event_saved_Details</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>Get</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Project_Partner_on_Project</name>
        <label>Update Project Partner on Project</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Project_Partner_approval_required_set_to_TRUE</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get.pse__Project__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CT_Project_Partner__c</field>
            <value>
                <elementReference>ProjectPartnerUserIdLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>pse__Proj__c</object>
    </recordUpdates>
    <screens>
        <name>Approval_required_Message_Screen</name>
        <label>Approval required Message Screen</label>
        <locationX>314</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Project_Partner</targetReference>
        </connector>
        <fields>
            <name>Approvasl_Required_msg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Approval required&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The current actual recovery rate for this project is {!Get.pse__Project__r.CT_Recovery_Rate__c}. It the recovery rate is below 70%, an additional approval is required from the responsible partner.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Please close this window and submit the billing event for approval.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Once the billing event is approved by the partner, the billing event can be released.  &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Select_Billing_Account</name>
        <label>Select Billing Account</label>
        <locationX>468</locationX>
        <locationY>3146</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Save_Account_on_billing_event</targetReference>
        </connector>
        <fields>
            <name>MultipleAccountsMessage</name>
            <fieldText>&lt;p&gt;Multiple billing accounts were found related to this billing event.&lt;/p&gt;&lt;p&gt;Please check if the billing event is correct.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you want to continue, please select the correct account for the invoice  and p&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;ress &quot;OK&quot; to release the billing event for billing.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectAccount</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Accounts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-6acd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1546</locationX>
        <locationY>3662</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_Access_problem</name>
        <label>Error Screen Access Problem</label>
        <locationX>864</locationX>
        <locationY>3878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_Error_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;ERROR&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Something went wrong. This could be related to insufficient access rights.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please contact your system administrator.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Error details:&lt;/p&gt;&lt;p&gt;Flow &quot;CT Release Billing Event&quot; failed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Billing_Account</name>
        <label>Confirm Release</label>
        <locationX>996</locationX>
        <locationY>3038</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Release_Billing_Event</targetReference>
        </connector>
        <fields>
            <name>SingleAccountMessage</name>
            <fieldText>&lt;p&gt;Press &quot;OK&quot; to release the billing event for billing&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Project_Partner</name>
        <label>Select Project Partner</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Project_Partner_from_Screen</targetReference>
        </connector>
        <fields>
            <name>ProjectPartnerUserIdLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CT_Project_Partner__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select the Project Partner for this Project</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>pse__Proj__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>606</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MileStoneIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MultipleAccountsDetected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ProjectPartnerUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
