force-app/main/default/flows/CT_Roll_Project_Forward.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Creat_New_project</name>
        <label>Create New project</label>
        <locationX>270</locationX>
        <locationY>758</locationY>
        <actionName>pse__ActionCPFTAccounts</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Errors</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Project_was_template</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>AccountId</name>
            <value>
                <elementReference>get_source_project_details.pse__Account__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDate</name>
            <value>
                <elementReference>New_Project_Start_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TemplateProjectId</name>
            <value>
                <elementReference>get_source_project_details.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pse__ActionCPFTAccounts</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Set_Template_false</name>
        <label>Copy 1 of Copy 1 of Set Template = false</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>get_source_project_details.pse__Is_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Save_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_Template_false</name>
        <label>Copy 1 of Set Template = false</label>
        <locationX>1194</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>get_source_project_details.pse__Is_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Save_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Template_false</name>
        <label>Set Template = false</label>
        <locationX>578</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>get_source_project_details.pse__Is_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Save_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Template_true</name>
        <label>Set Template = true</label>
        <locationX>138</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>get_source_project_details.pse__Is_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectWasTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_new_Year_End_Date</name>
        <label>Update new Year End Date</label>
        <locationX>490</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>Get_New_Project.CT_Year_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewYearEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_New_Project.CT_Generate_Default_Project_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_new_project</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assignments_found</name>
        <label>Assignments found?</label>
        <locationX>490</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>Did_the_original_project_have_Assignments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_assignments_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Assignments</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_assignments</targetReference>
            </connector>
            <label>yes, assignments found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Project_was_template</name>
        <label>Copy 1 of Project was template?</label>
        <locationX>1106</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Set_Template_false</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProjectWasTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorMessage1</targetReference>
            </connector>
            <label>Copy 1 of yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_the_original_project_have_Assignments</name>
        <label>Did the original project have Assignments?</label>
        <locationX>666</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>No_Assignments_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_so_all_is_ok</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Assignments_of_old_project</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Resource_Requests</targetReference>
            </connector>
            <label>No, so all is ok</label>
        </rules>
    </decisions>
    <decisions>
        <name>Errors</name>
        <label>Errors?</label>
        <locationX>270</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Project_was_template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yes_has_Errors</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Creat_New_project.ErrorString</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Set_Template_false</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_current_project_a_template</name>
        <label>Is current project a template?</label>
        <locationX>270</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Creat_New_project</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_source_project_details.pse__Is_Template__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Template_true</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_was_template</name>
        <label>Project was template?</label>
        <locationX>490</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Set_Template_false</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProjectWasTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_New_Project</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Resource_Requests_Found</name>
        <label>Resource Requests Found?</label>
        <locationX>490</locationX>
        <locationY>2588</locationY>
        <defaultConnector>
            <targetReference>Update_Milestones</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_RR_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Resource_Requests</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Resource_Requests</targetReference>
            </connector>
            <label>Yes, RR Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NewStartDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!get_source_project_details.pse__Start_Date__c},12)</expression>
    </formulas>
    <formulas>
        <name>NewYearEndDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!get_source_project_details.CT_Year_End_Date__c},12)</expression>
    </formulas>
    <interviewLabel>CT Roll Project Forward {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CT Roll Project Forward</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_assignments</name>
        <label>Delete assignments</label>
        <locationX>314</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>Get_Resource_Requests</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Creat_New_project.NewProjectId</elementReference>
            </value>
        </filters>
        <object>pse__Assignment__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Assignments</name>
        <label>Get Assignments</label>
        <locationX>490</locationX>
        <locationY>1814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignments_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Creat_New_project.NewProjectId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pse__Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assignments_of_old_project</name>
        <label>Get Assignments of old project</label>
        <locationX>490</locationX>
        <locationY>1706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Project</name>
        <label>Get New Project</label>
        <locationX>490</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_new_Year_End_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Creat_New_project.NewProjectId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Proj__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Resource_Requests</name>
        <label>Get Resource Requests</label>
        <locationX>490</locationX>
        <locationY>2480</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Resource_Requests_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Creat_New_project.NewProjectId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pse__Resource_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_source_project_details</name>
        <label>get source project details</label>
        <locationX>270</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ProjectNameAndDate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Proj__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Save_Project</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Save Project</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Copy_1_of_result</targetReference>
        </connector>
        <inputReference>get_source_project_details</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Save_Project</name>
        <label>Copy 1 of Copy 1 of Save Project</label>
        <locationX>1194</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>ErrorMessage1</targetReference>
        </connector>
        <inputReference>get_source_project_details</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Save_Project</name>
        <label>Copy 1 of Save Project</label>
        <locationX>578</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Get_New_Project</targetReference>
        </connector>
        <inputReference>get_source_project_details</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Save_Project</name>
        <label>Save Project</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Creat_New_project</targetReference>
        </connector>
        <inputReference>get_source_project_details</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Milestones</name>
        <label>Update Milestones</label>
        <locationX>490</locationX>
        <locationY>2888</locationY>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_New_Project.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>pse__Status__c</field>
            <value>
                <stringValue>Planned</stringValue>
            </value>
        </inputAssignments>
        <object>pse__Milestone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_new_project</name>
        <label>Update new project</label>
        <locationX>490</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Get_Assignments_of_old_project</targetReference>
        </connector>
        <inputReference>Get_New_Project</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Resource_Requests</name>
        <label>Update Resource Requests</label>
        <locationX>358</locationX>
        <locationY>2696</locationY>
        <connector>
            <targetReference>Update_Milestones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Creat_New_project.NewProjectId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>pse__Resource_Held__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Status__c</field>
            <value>
                <stringValue>Ready to Staff</stringValue>
            </value>
        </inputAssignments>
        <object>pse__Resource_Request__c</object>
    </recordUpdates>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>490</locationX>
        <locationY>2996</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>succes</name>
            <fieldText>&lt;p&gt;Project rolled forward succesfully.&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/{!Creat_New_project.NewProjectId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Open project&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_result</name>
        <label>ErrorMessage</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;An error occurred: &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Creat_New_project.ErrorString}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorMessage1</name>
        <label>ErrorMessage1</label>
        <locationX>1106</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>aa</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(253, 0, 0); font-size: 16px;&quot;&gt;An error occurred&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please contact your system administrator to check if you have the &quot;FF-PSA Full User (Modify All)&quot; permissionset.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Error details:&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Assignments_found</name>
        <label>No Assignments found</label>
        <locationX>754</locationX>
        <locationY>2138</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Assignments</targetReference>
        </connector>
        <fields>
            <name>no_assignments_found_message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;The project is being created but not all information is available yet.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Please wait a few seconds and then click &quot;&lt;strong&gt;Retry&lt;/strong&gt;&quot;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Retry</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ProjectNameAndDate</name>
        <label>ProjectNameAndDate</label>
        <locationX>270</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_current_project_a_template</targetReference>
        </connector>
        <fields>
            <name>New_Project_Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>NewStartDate</elementReference>
            </defaultValue>
            <fieldText>New Project Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_source_project_details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DummyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>--</stringValue>
        </value>
    </variables>
    <variables>
        <name>ProjectWasTemplate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>aAtKL0000008OIK0A2</stringValue>
        </value>
    </variables>
</Flow>
