force-app/main/default/flows/CT_Swap_Fee_Amount_on_MS_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Swap_fee_ms_amount</name>
        <label>Swap fee &amp; ms amount</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>FeeAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Milestone_Fee_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MSAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.pse__Milestone_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Fee_Amount</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Swap Fee &amp; Amount on MS Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Swap Fee &amp; Amount on MS Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Fee_Amount</name>
        <label>Update Fee &amp; Amount</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Milestone_Fee_Amount__c</field>
            <value>
                <elementReference>MSAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Milestone_Amount__c</field>
            <value>
                <elementReference>FeeAmount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Swap_fee_ms_amount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Milestone_Amount__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Milestone_Fee_Amount__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>pse__Milestone__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>FeeAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>MSAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
