force-app/main/default/flows/CT_Set_Default_Group_on_Project.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>CT Set Default Group on Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CT Set Default Group on Project</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Global_Group</name>
        <label>Get Global Group</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_group_default_to_the_Global_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Hierarchy_Depth__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Grp__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Allow_expenses_without_assignments</name>
        <label>Set Allow expenses without assignments</label>
        <locationX>176</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>pse__Allow_Expenses_Without_Assignment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>set_group_default_to_the_Global_Group</name>
        <label>set group default to the Global Group</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Allow_expenses_without_assignments</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__Group__c</field>
            <value>
                <elementReference>Get_Global_Group.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Global_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Group__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>pse__Proj__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
