force-app/main/default/flows/CT_Share_restricted_accounts_with_new_users.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_custom_sharing_to_the_account</name>
        <label>Add custom sharing to the account</label>
        <locationX>270</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>AccountShare.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_all_accounts_with_restrictions.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountShare.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountShare.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountShare.ContactAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountShare.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountShare.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountSharesToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AccountShare</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_all_accounts_with_restrictions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_restricted_account_IDs_to_filter_list</name>
        <label>Add restricted account IDs to filter list</label>
        <locationX>270</locationX>
        <locationY>995</locationY>
        <assignmentItems>
            <assignToReference>AccountFilterList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_trough_the_restrictions.Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_trough_the_restrictions</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_the_user_have_Modify_All_access</name>
        <label>New user and has Modify All</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Hide_Account_Records_for_this_user</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>user_has_Modify_All</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Profile_Details.PermissionsModifyAllData</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>user has Modify All</label>
        </rules>
        <rules>
            <name>Exisiting_and_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_User_Profile_Details.PermissionsModifyAllData</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_AccountShare_records_for_this_user</targetReference>
            </connector>
            <label>Exisiting and changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CT Share restricted accounts with new users {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CT Share restricted accounts with new users</label>
    <loops>
        <name>For_all_accounts_with_restrictions</name>
        <label>For all accounts with restrictions</label>
        <locationX>182</locationX>
        <locationY>1295</locationY>
        <collectionReference>Get_Accounts_with_restrictions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_custom_sharing_to_the_account</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_AccountShare_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_trough_the_restrictions</name>
        <label>Loop trough the restrictions</label>
        <locationX>182</locationX>
        <locationY>887</locationY>
        <collectionReference>Get_Hide_Account_Records_for_this_user</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_restricted_account_IDs_to_filter_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Accounts_with_restrictions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_AccountShare_records</name>
        <label>Insert AccountShare records</label>
        <locationX>182</locationX>
        <locationY>1595</locationY>
        <inputReference>AccountSharesToInsert</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_AccountShare_records_for_this_user</name>
        <label>Delete AccountShare records for this user</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Get_Hide_Account_Records_for_this_user</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Hide_Account_Records_for_this_user</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </filters>
        <object>AccountShare</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Accounts_with_restrictions</name>
        <label>Get Accounts with restrictions</label>
        <locationX>182</locationX>
        <locationY>1187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_all_accounts_with_restrictions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CT_Account_access__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Public access with restrictions</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>AccountFilterList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Hide_Account_Records_for_this_user</name>
        <label>Get Hide Account Records for this user</label>
        <locationX>182</locationX>
        <locationY>779</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_trough_the_restrictions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Hide_Account_For_User__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Profile_Details</name>
        <label>Get User Profile Details</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_the_user_have_Modify_All_access</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ProfileId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User_Profile_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountFilterList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountShare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <name>AccountSharesToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
