force-app/main/default/flows/CT_Self_Assignment_Approval_V2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_for_Approval</name>
        <label>Submit for Approval</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Set_PM_on_Assignment</name>
        <label>Set PM on Assignment</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>PMID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.pse__Project__r.pse__Project_Manager__r.pse__Salesforce_User__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>No_PM_Error_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Project Manager!</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PMID_is_Null</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>No_PM_for_Project</name>
        <label>No PM</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <customErrorMessages>
            <errorMessage>{!No_PM_Error_Message}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>PMID_is_Null</name>
        <label>PMID is Null</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Needs_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_PM</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>PMID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PMID</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_PM_for_Project</targetReference>
            </connector>
            <label>No PM</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CT_Self_Assignment_Approval   - V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CT_Self_Assignment_Approval   - V2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Needs_Approval</name>
        <label>Needs Approval</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Submit_for_Approval</targetReference>
        </connector>
        <inputAssignments>
            <field>CT_PM_User_Record__c</field>
            <value>
                <elementReference>PMID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Closed_for_Expense_Entry__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Closed_for_Time_Entry__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_PM_on_Assignment</targetReference>
        </connector>
        <filterFormula>{!$Record.CreatedById}={!$Record.pse__Resource__r.pse__Salesforce_User__r.Id}</filterFormula>
        <object>pse__Assignment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>No_PM_Error_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PMID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
