force-app/main/default/flows/CT_Update_Expense_for_Mileage_Receipt.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Project_GLA</name>
        <label>Project GLA</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>ProjectGLA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.pse__Project__r.ffpsai__ExpenseGLACode__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Project_has_GLA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Vat_Rate</name>
        <label>Vat Rate</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>VatRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vat_Rates.Vat_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Incurred_Tax</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Project_has_GLA</name>
        <label>Project has GLA</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>CT_Project_GLA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Project__r.ffpsai__ExpenseGLACode__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Project__r.ffpsai__ExpenseGLACode__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue> </stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Expense_GLA</targetReference>
            </connector>
            <label>Project GLA</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Calculated_VAT</name>
        <dataType>Number</dataType>
        <expression>{!$Record.pse__Amount__c}*{!Vat_Rates.Vat_Rate__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>VAT</name>
        <dataType>Number</dataType>
        <expression>{!$Record.pse__Amount__c}*({!VatRate}/100)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>CT Update Expense for Mileage Receipt {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CT Update Expense for Mileage Receipt and GLA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Vat_Rates</name>
        <label>Vat Rates</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Vat_Rate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CT_Expense_VAT_Rate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CT_Expense_VAT_Types__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Expense_GLA</name>
        <label>Update Expense GLA</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>ffpsai__ExpenseGLACode__c</field>
            <value>
                <elementReference>ProjectGLA</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Incurred_Tax</name>
        <label>Update Incurred Tax</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Project_GLA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CT_Expense_VAT_Rate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>pse__Incurred_Tax__c</field>
            <value>
                <elementReference>VAT</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Vat_Rates</targetReference>
        </connector>
        <object>pse__Expense__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ProjectGLA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VatRate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
