force-app/main/default/flows/CT_Update_Project_Fee.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_to_Fee</name>
        <label>Add to Fee</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>FeeAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_1.pse__Milestone_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>CT Update Project Fee {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CT Update Project Fee</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Project_Milestones</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Fee</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Project_Fee</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Project_Milestones</name>
        <label>Get Project Milestones</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pse__Project__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pse__Milestone__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Project_Fee</name>
        <label>Update Project Fee</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <inputAssignments>
            <field>CT_Fee_Amount__c</field>
            <value>
                <elementReference>FeeAmount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.pse__Project__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Project_Milestones</targetReference>
        </connector>
        <object>pse__Milestone__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>FeeAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
