force-app/main/default/flows/CT_Update_Project_region_from_Partner_Partner_s_region.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <customErrors>
        <name>Region_Mismatch</name>
        <label>Region Mismatch</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <customErrorMessages>
            <errorMessage>The region of Project Partner is different than the region selected on Project.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Project_Partner_record_found</name>
        <label>Project Partner record found?</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_resource_project_partner_record.pse__Region__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.pse__Region__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Region_Mismatch</targetReference>
            </connector>
            <label>Found yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CT Update Project region from Partner Partner&apos;s region {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CT Update Project region from Partner Partner&apos;s region</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_resource_project_partner_record</name>
        <label>Get resource (project partner) record</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Project_Partner_record_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Salesforce_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CT_Project_Partner__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pse__Region__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_resource_project_partner_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CT_Project_Partner__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pse__Region__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>pse__Proj__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
