force-app/main/default/flows/CT_Update_Project_Checkboxes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Checkbox_Values</name>
        <label>Assign Checkbox Values</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>Mandatory_Notes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.pse__Practice__r.CT_Mandatory_Timesheet_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TC_Without_Assignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.pse__Practice__r.CT_Allow_Timecards_Without_Assignment__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Allow_TC_without_Assignment</targetReference>
        </connector>
    </assignments>
    <description>Update project checkboxes based on practice details</description>
    <environments>Default</environments>
    <interviewLabel>CT_Update_Project_Checkboxes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CT_Update_Project_Checkboxes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Allow_TC_without_Assignment</name>
        <label>Update Allow TC without Assignment</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>pse__Allow_Expenses_Without_Assignment__c</field>
            <value>
                <elementReference>TC_Without_Assignment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Allow_Timecards_Without_Assignment__c</field>
            <value>
                <elementReference>TC_Without_Assignment</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Checkbox_Values</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>{!$Record.pse__Practice__r.CT_Allow_Timecards_Without_Assignment__c}=true || {!$Record.pse__Practice__r.CT_Mandatory_Timesheet_Notes__c} = true</filterFormula>
        <object>pse__Proj__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Mandatory_Notes</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TC_Without_Assignment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
