force-app/main/default/flows/CT_Update_Expense_for_Mileage_Receipt.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Project_GLA</name>
        <label>Project GLA</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>ProjectGLA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.pse__Project__r.ffpsai__ExpenseGLACode__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mileage_Expanse_Line</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Mileage_Expanse_Line</name>
        <label>Mileage Expanse Line</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Project_has_GLA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Mileage</defaultConnectorLabel>
        <rules>
            <name>Mileage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Distance__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Distance__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_lost_receipt_for_Mileage</targetReference>
            </connector>
            <label>Mileage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_has_GLA</name>
        <label>Project has GLA</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>CT_Project_GLA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Project__r.ffpsai__ExpenseGLACode__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Project__r.ffpsai__ExpenseGLACode__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue> </stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Expense_GLA</targetReference>
            </connector>
            <label>Project GLA</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CT Update Expense for Mileage Receipt {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CT Update Expense for Mileage Receipt and GLA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Expense_GLA</name>
        <label>Update Expense GLA</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>ffpsai__ExpenseGLACode__c</field>
            <value>
                <elementReference>ProjectGLA</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_lost_receipt_for_Mileage</name>
        <label>Update lost receipt for Mileage</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Project_has_GLA</targetReference>
        </connector>
        <inputAssignments>
            <field>CT_Lost_Receipt_Comment__c</field>
            <value>
                <stringValue>Mileage - No Receipt Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Lost_Receipt__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Project_GLA</targetReference>
        </connector>
        <object>pse__Expense__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ProjectGLA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
