force-app/main/default/flows/CT_Update_Timecard_Split_Cost.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Parent_Practices</name>
        <label>Assign Parent Practices</label>
        <locationX>281</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>ResourcePracticeID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Resource_Practice.pse__Parent_Practice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GrandparentPracticeID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Resource_Practice.pse__Parent_Practice__r.pse__Parent_Practice__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Rates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Practice_ID</name>
        <label>Assign Practice ID</label>
        <locationX>281</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>ResourcePracticeID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Resource.pse__Practice__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Resource_Practice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Resource_GrandParent_Practice_Rate</name>
        <label>Assign Resource GrandParent Practice Rate</label>
        <locationX>578</locationX>
        <locationY>1367</locationY>
        <assignmentItems>
            <assignToReference>Rate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Rates_for_GrandParent_Practice.pse__Suggested_Bill_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Timecard_Split</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Resource_Parent_Practice_Rate</name>
        <label>Assign Resource Parent Practice Rate</label>
        <locationX>314</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>Rate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Rates_for_Parent_Practice.pse__Suggested_Bill_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Timecard_Split</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Resource_Practice_Rate</name>
        <label>Assign Resource Practice Rate</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Rate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Rates.pse__Suggested_Bill_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Timecard_Split</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>GrandParent_Rate_Found</name>
        <label>GrandParent Rate Found</label>
        <locationX>710</locationX>
        <locationY>1259</locationY>
        <defaultConnector>
            <targetReference>Update_Timecard_Split</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Parent Rate not Found</defaultConnectorLabel>
        <rules>
            <name>Grand_Parent_Rate_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Rates_for_GrandParent_Practice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Resource_GrandParent_Practice_Rate</targetReference>
            </connector>
            <label>GrandParent Rate Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Rate_Found</name>
        <label>Parent Rate Found</label>
        <locationX>512</locationX>
        <locationY>1043</locationY>
        <defaultConnector>
            <targetReference>Get_Rates_for_GrandParent_Practice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Parent Rate not Found</defaultConnectorLabel>
        <rules>
            <name>Parent_Practice_Rate_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Rates_for_Parent_Practice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Resource_Parent_Practice_Rate</targetReference>
            </connector>
            <label>Parent Rate Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Resource_Practice_Rate_Found</name>
        <label>Resource Practice Rate Found?</label>
        <locationX>281</locationX>
        <locationY>827</locationY>
        <defaultConnector>
            <targetReference>Get_Rates_for_Parent_Practice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Rate Found</defaultConnectorLabel>
        <rules>
            <name>Rate_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Rates</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Resource_Practice_Rate</targetReference>
            </connector>
            <label>Rate Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CT Update Timecard Split Cost {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CT Update Timecard Split Cost</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Rates</name>
        <label>Get Rates</label>
        <locationX>281</locationX>
        <locationY>719</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Resource_Practice_Rate_Found</targetReference>
        </connector>
        <filterLogic>1 AND 5 AND (2 or 3 OR 4)</filterLogic>
        <filters>
            <field>pse__Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pse__Resource__r.pse__Resource_Role__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pse__End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>pse__End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pse__End_Date__c</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>pse__Practice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResourcePracticeID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Rate_Card__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Rates_for_GrandParent_Practice</name>
        <label>Get Rates for GrandParent Practice</label>
        <locationX>710</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GrandParent_Rate_Found</targetReference>
        </connector>
        <filterLogic>1 AND 5 AND (2 or 3 OR 4)</filterLogic>
        <filters>
            <field>pse__Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pse__Resource__r.pse__Resource_Role__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pse__End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>pse__End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pse__End_Date__c</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>pse__Practice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GrandparentPracticeID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Rate_Card__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Rates_for_Parent_Practice</name>
        <label>Get Rates for Parent Practice</label>
        <locationX>512</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parent_Rate_Found</targetReference>
        </connector>
        <filterLogic>1 AND 5 AND (2 or 3 OR 4)</filterLogic>
        <filters>
            <field>pse__Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pse__Resource__r.pse__Resource_Role__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pse__End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>pse__End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pse__End_Date__c</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>pse__Practice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentPracticeID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Rate_Card__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Resource</name>
        <label>Get Resource</label>
        <locationX>281</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Practice_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pse__Resource__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Resource_Practice</name>
        <label>Get Resource Practice</label>
        <locationX>281</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Parent_Practices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResourcePracticeID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Practice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Timecard_Split</name>
        <label>Update Timecard Split</label>
        <locationX>281</locationX>
        <locationY>1727</locationY>
        <inputAssignments>
            <field>CT_Suggested_Bill_Rate__c</field>
            <value>
                <elementReference>Rate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>155</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Resource</targetReference>
        </connector>
        <object>pse__Timecard__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_on_Parent_Practice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Rate_Card__c</objectType>
    </variables>
    <variables>
        <name>GrandparentPracticeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ParentPracticeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Rate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ResourcePracticeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
