force-app/main/default/flows/CT_Update_Current_Estimate_Assignments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Estimated_Assignment_Project_Revenue</name>
        <label>Estimated Assignment Project Revenue</label>
        <locationX>396</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>ProjectAssignmentValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Assignments.Estimated_Revenue__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Correct_Milestone_on_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Milestone_Assignment_Revenue</name>
        <label>Milestone Assignment Revenue</label>
        <locationX>264</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>MilestoneAssignmentRevenue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Assignments.Estimated_Revenue__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Assignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Milestone_Resource_Requests_Values</name>
        <label>Milestone Resource Request Value</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Milestone_estimated_recenue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Resource_Requests.CT_Estimated_Revenue__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Resource_Requests</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Resource_Requests_Values</name>
        <label>Resource Requests Values</label>
        <locationX>396</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Project_RR_Amount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Resource_Requests.CT_Estimated_Revenue__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Correct_Milestone_on_Resource_Request</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Correct_Milestone_on_Assignment</name>
        <label>Correct Milestone on Assignment</label>
        <locationX>396</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>Loop_Assignments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Correct_Milestone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Assignments.pse__Milestone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.pse__Milestone__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Milestone_Assignment_Revenue</targetReference>
            </connector>
            <label>Copy 1 of Correct Milestone</label>
        </rules>
    </decisions>
    <decisions>
        <name>Correct_Milestone_on_Resource_Request</name>
        <label>Correct Milestone on Resource Request</label>
        <locationX>396</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Loop_Resource_Requests</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Correct_Milestone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Resource_Requests.pse__Milestone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.pse__Milestone__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Milestone_Resource_Requests_Values</targetReference>
            </connector>
            <label>Correct Milestone</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>MilestoneValue</name>
        <dataType>Number</dataType>
        <expression>{!Milestone_estimated_recenue}+{!MilestoneAssignmentRevenue}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ProjectValue</name>
        <dataType>Number</dataType>
        <expression>{!Project_RR_Amount}+{!ProjectAssignmentValue}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>CT_Update_Current_Estimate_Assignments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CT_Update_Current_Estimate_Assignments</label>
    <loops>
        <name>Loop_Assignments</name>
        <label>Loop Assignments</label>
        <locationX>176</locationX>
        <locationY>1139</locationY>
        <collectionReference>Project_Assignments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Estimated_Assignment_Project_Revenue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Project</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Resource_Requests</name>
        <label>Loop Resource Requests</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Resource_Requests</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Resource_Requests_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Project_Assignments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Project_Assignments</name>
        <label>Project Assignments</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Assignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pse__Project__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pse__Assignment__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Resource_Requests</name>
        <label>Resource Requests</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Resource_Requests</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3)</filterLogic>
        <filters>
            <field>pse__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pse__Project__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pse__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </filters>
        <filters>
            <field>pse__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pse__Resource_Request__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Milestone</name>
        <label>Update Milestone</label>
        <locationX>176</locationX>
        <locationY>1847</locationY>
        <inputAssignments>
            <field>Milestone_Fee_Amount__c</field>
            <value>
                <elementReference>MilestoneValue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.pse__Milestone__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Project</name>
        <label>Update Project</label>
        <locationX>176</locationX>
        <locationY>1739</locationY>
        <connector>
            <targetReference>Update_Milestone</targetReference>
        </connector>
        <inputAssignments>
            <field>CT_Current_Esimate__c</field>
            <value>
                <elementReference>ProjectValue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.pse__Project__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Resource_Requests</targetReference>
        </connector>
        <object>pse__Assignment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Milestone_estimated_recenue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>MilestoneAssignmentRevenue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Project_RR_Amount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ProjectAssignmentValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
