force-app/main/default/flows/CT_Update_Estimate_Fee.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_to_Total</name>
        <label>Add to Total</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>ProjectFee</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Billing_Amounts.CT_MS_Bill_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Billing_Amounts</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>CT_Update_Estimate_Fee {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CT_Update_Estimate_Fee</label>
    <loops>
        <name>Get_Billing_Amounts</name>
        <label>Get Billing Amounts</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Line_Sets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Total</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Total</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Line_Sets</name>
        <label>Get Line Sets</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Billing_Amounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ffscpq__Estimate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ffscpq__Estimate_Line_Set__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Total</name>
        <label>Update Total</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <inputAssignments>
            <field>CT_Fee_Amount__c</field>
            <value>
                <elementReference>ProjectFee</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Line_Sets</targetReference>
        </connector>
        <object>ffscpq__Estimate__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ProjectFee</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
