force-app/main/default/flows/CT_Update_Values_on_Project_Milestone_from_TC_Split.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Milestone_Values</name>
        <label>Milestone Values</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>MilestoneTCValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Assign_Value_for_Project.CT_Total_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Value_for_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Project_Values</name>
        <label>Project Values</label>
        <locationX>396</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>ProjectValueforTCSplit</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Assign_Value_for_Project.CT_Total_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Correct_Milestone</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Correct_Milestone</name>
        <label>Correct Milestone</label>
        <locationX>396</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Assign_Value_for_Project</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Correct_Milestone_on_TC_Split</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Milestone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Assign_Value_for_Project.pse__Milestone__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Milestone_Values</targetReference>
            </connector>
            <label>Correct Milestone</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Values on Project &amp; Milestone from TC Split {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Values on Project &amp; Milestone from TC Split</label>
    <loops>
        <name>Assign_Value_for_Project</name>
        <label>Assign Value for Project</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Timecard_Splits</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Project_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Project</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Timecard_Splits</name>
        <label>Timecard Splits</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Value_for_Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pse__Project__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CT_Include_in_Totals__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pse__Timecard__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Milestone</name>
        <label>Update Milestone</label>
        <locationX>176</locationX>
        <locationY>1139</locationY>
        <inputAssignments>
            <field>CT_Total_Submitted_Hours_Bill_Rate__c</field>
            <value>
                <elementReference>MilestoneTCValue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.pse__Milestone__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Project</name>
        <label>Update Project</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Update_Milestone</targetReference>
        </connector>
        <inputAssignments>
            <field>CT_Total_Submitted_Hours_Bill_Rate__c</field>
            <value>
                <elementReference>ProjectValueforTCSplit</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.pse__Project__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Timecard_Splits</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CT_Include_in_Totals__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>pse__Timecard__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>MilestoneTCValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ProjectValueforTCSplit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
