force-app/main/default/flows/CT_Update_Project_Values.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Estimated_Assignment_Project_Revenue</name>
        <label>Estimated Assignment Project Revenue</label>
        <locationX>264</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>ProjectAssignmentValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Assignments.Estimated_Revenue__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Assignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Resource_Requests_Values</name>
        <label>Resource Requests Values</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Project_RR_Amount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Resource_Requests.CT_Estimated_Revenue__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Resource_Requests</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>MilestoneValue</name>
        <dataType>Number</dataType>
        <expression>{!Milestone_estimated_recenue}+{!MilestoneAssignmentRevenue}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ProjectValue</name>
        <dataType>Number</dataType>
        <expression>{!Project_RR_Amount}+{!ProjectAssignmentValue}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>CT_Update_Project_Values {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CT_Update_Project_Values</label>
    <loops>
        <name>Loop_Assignments</name>
        <label>Loop Assignments</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <collectionReference>Project_Assignments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Estimated_Assignment_Project_Revenue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Project</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Resource_Requests</name>
        <label>Loop Resource Requests</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Resource_Requests</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Resource_Requests_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Project_Assignments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Project_Assignments</name>
        <label>Project Assignments</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Assignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pse__Assignment__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Resource_Requests</name>
        <label>Resource Requests</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Resource_Requests</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3)</filterLogic>
        <filters>
            <field>pse__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>pse__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </filters>
        <filters>
            <field>pse__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pse__Resource_Request__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Project</name>
        <label>Update Project</label>
        <locationX>176</locationX>
        <locationY>1139</locationY>
        <inputAssignments>
            <field>CT_Current_Esimate__c</field>
            <value>
                <elementReference>ProjectValue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Resource_Requests</targetReference>
        </connector>
        <object>pse__Proj__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Milestone_estimated_recenue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>MilestoneAssignmentRevenue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Project_RR_Amount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ProjectAssignmentValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
