force-app/main/default/flows/CT_Update_suggested_bill_rate_on_TC_split.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>CT Update suggested bill rate on TC split {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CT Update suggested bill rate on TC split</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Rates</name>
        <label>Get Rates</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Suggested_Bill_Rate</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3  OR 4 OR 5)</filterLogic>
        <filters>
            <field>pse__Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pse__Resource__r.pse__Resource_Role__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pse__Practice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pse__Resource__r.pse__Practice__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pse__End_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>pse__End_Date__c</field>
            <operator>IsNull</operator>
        </filters>
        <filters>
            <field>pse__End_Date__c</field>
            <operator>EqualTo</operator>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Rate_Card__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Suggested_Bill_Rate</name>
        <label>Update Suggested Bill Rate</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>CT_Suggested_Bill_Rate__c</field>
            <value>
                <elementReference>Get_Rates.pse__Suggested_Bill_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Rates</targetReference>
        </connector>
        <object>pse__Timecard__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
