force-app/main/default/flows/Lead_Update_Account_and_Opp_on_Origination_Meetings_upon_Conversion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Move_to_Opp_and_Account</name>
        <label>Move to Opp and Account</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Single_Meeting.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Meeting.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ConvertedOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Meeting.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Thru_Meetings.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Col_Meeting</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Single_Meeting</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Meetings</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Meetings_Found</name>
        <label>Meetings Found</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Note_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Meetings_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Origination_Meetings</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Thru_Meetings</targetReference>
            </connector>
            <label>Yes - Meetings Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Note_Found</name>
        <label>Note Found</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Note_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Notes__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Notes</targetReference>
            </connector>
            <label>Yes - Note Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NoteTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.Company} + &quot; - &quot; + TEXT(TODAY()) + &quot; - Handover Notes&quot;</expression>
    </formulas>
    <interviewLabel>Lead - Update Account and Opp on Origination Meetings upon Conversion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Update Account and Opp on Origination Meetings upon Conversion</label>
    <loops>
        <name>Loop_Thru_Meetings</name>
        <label>Loop Thru Meetings</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Origination_Meetings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Move_to_Opp_and_Account</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Meetings</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Notes</name>
        <label>Create Notes</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>Link_Notes_to_Opp</targetReference>
        </connector>
        <inputAssignments>
            <field>Content</field>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>NoteTitle</elementReference>
            </value>
        </inputAssignments>
        <object>ContentNote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Link_Note_to_Account</name>
        <label>Link Note to Account</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>Create_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Link_Notes_to_Opp</name>
        <label>Link Notes to Opp</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Link_Note_to_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>Create_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>$Record.ConvertedOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Origination_Meetings</name>
        <label>Get Origination Meetings</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Meetings_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BD_Meeting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Meetings</name>
        <label>Update Meetings</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Note_Found</targetReference>
        </connector>
        <inputReference>Col_Meeting</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Origination_Meetings</targetReference>
        </connector>
        <filterFormula>AND(NOT({!$Setup.Org_Wide_Settings__c.Disable_Flows__c}),
ISCHANGED({!$Record.IsConverted}),
{!$Record.IsConverted} = TRUE)</filterFormula>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Target Name: &lt;/strong&gt;{!$Record.Company} &lt;/p&gt;&lt;p&gt;&lt;strong&gt;Source:&lt;/strong&gt; {!$Record.LeadSource} &lt;/p&gt;&lt;p&gt;&lt;strong&gt;Fee: &lt;/strong&gt;{!$Record.Fee__c} &lt;/p&gt;&lt;p&gt;&lt;strong&gt;Incumbent: &lt;/strong&gt;{!$Record.Incumbent__c} &lt;/p&gt;&lt;p&gt;&lt;strong&gt;Region: &lt;/strong&gt;{!$Record.Region__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Notes:&lt;/strong&gt; {!$Record.Notes__c}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Col_Meeting</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BD_Meeting__c</objectType>
    </variables>
    <variables>
        <name>Single_Meeting</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BD_Meeting__c</objectType>
    </variables>
</Flow>
