force-app/main/default/flows/Lead_Convert_Lead_Tags_to_Account_Tags.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>assign_account_tags_Ids_to_collection_variable</name>
        <label>assign account tags Ids to collection variable</label>
        <locationX>486</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Collection_AccountTags_LookupIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_through_account_tags.Tag_Lookup__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_account_tags</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_AccountTags_values</name>
        <label>assign AccountTags values</label>
        <locationX>618</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>Single_AccountTag.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_AccountTag.Tag_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_thru_each_Lead_Tag.Tag_Lookup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Collection_AccountTag</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Single_AccountTag</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_thru_each_Lead_Tag</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_new_Account_tags_values</name>
        <label>assign new Account tags values</label>
        <locationX>138</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>Single_AccountTag.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_AccountTag.Tag_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Thru_Each_Lead_Tag_that_is_not_in_Account.Tag_Lookup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Collection_AccountTag</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Single_AccountTag</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Each_Lead_Tag_that_is_not_in_Account</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Error</name>
        <label>Error</label>
        <locationX>398</locationX>
        <locationY>1739</locationY>
        <customErrorMessages>
            <errorMessage>Error in creating Account Tag records:
{!$Flow.FaultMessage}
Please reach out to your System Administrator</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Account_Tags_Found</name>
        <label>Account Tags Found</label>
        <locationX>398</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>get_All_Lead_Tags</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Account_Tags_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Collection_AccountTags_LookupIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Lead_Tags_that_are_not_In_Account</targetReference>
            </connector>
            <label>Yes - Account Tags Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_tags_to_be_created_exist</name>
        <label>Account tags to be created exist</label>
        <locationX>398</locationX>
        <locationY>1523</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Account_tags_to_be_created_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Collection_AccountTag</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_AccountTags</targetReference>
            </connector>
            <label>Yes - Account tags to be created exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Tags_that_are_not_yet_In_Account_Exists</name>
        <label>Lead Tags that are not yet In Account Exists</label>
        <locationX>158</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Account_tags_to_be_created_exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Lead_Tags_that_are_not_yet_In_Account_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Lead_Tags_that_are_not_In_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Thru_Each_Lead_Tag_that_is_not_in_Account</targetReference>
            </connector>
            <label>Yes - Lead Tags that are not yet In Account Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>LeadTags_Found</name>
        <label>LeadTags Found</label>
        <locationX>638</locationX>
        <locationY>947</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LeadTags_are_Existings</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_All_Lead_Tags</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_thru_each_Lead_Tag</targetReference>
            </connector>
            <label>LeadTags are Existings</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Lead - Convert Lead Tags to Account Tags {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Convert Lead Tags to Account Tags</label>
    <loops>
        <name>loop_through_account_tags</name>
        <label>loop through account tags</label>
        <locationX>398</locationX>
        <locationY>431</locationY>
        <collectionReference>get_Account_Tags</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_account_tags_Ids_to_collection_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Account_Tags_Found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_thru_each_Lead_Tag</name>
        <label>loop thru each Lead Tag</label>
        <locationX>530</locationX>
        <locationY>1055</locationY>
        <collectionReference>get_All_Lead_Tags</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_AccountTags_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Account_tags_to_be_created_exist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Thru_Each_Lead_Tag_that_is_not_in_Account</name>
        <label>Loop Thru Each Lead Tag that is not in Account</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <collectionReference>get_Lead_Tags_that_are_not_In_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_new_Account_tags_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Account_tags_to_be_created_exist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_AccountTags</name>
        <label>Create AccountTags</label>
        <locationX>134</locationX>
        <locationY>1631</locationY>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>Collection_AccountTag</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Account_Tags</name>
        <label>get Account Tags</label>
        <locationX>398</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_through_account_tags</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountTag__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_All_Lead_Tags</name>
        <label>get All Lead Tags</label>
        <locationX>638</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LeadTags_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LeadTag__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Lead_Tags_that_are_not_In_Account</name>
        <label>get Lead Tags that are not In Account</label>
        <locationX>158</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Tags_that_are_not_yet_In_Account_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tag_Lookup__c</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>Collection_AccountTags_LookupIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LeadTag__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>272</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Account_Tags</targetReference>
        </connector>
        <filterFormula>AND(
NOT({!$Setup.Org_Wide_Settings__c.Disable_Flows__c}),
{!$Record.IsConverted} = TRUE,
ISCHANGED({!$Record.IsConverted})
)</filterFormula>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Collection_AccountTag</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTag__c</objectType>
    </variables>
    <variables>
        <name>Collection_AccountTags_LookupIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Single_AccountTag</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTag__c</objectType>
    </variables>
</Flow>
