force-app/main/default/flows/Lead_Conversion_Update_Competitor_Incumbent_Records_with_Account_and_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>assign_account_and_opp</name>
        <label>assign account and opp</label>
        <locationX>270</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>loop_thru_each_junction_record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_thru_each_junction_record.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ConvertedOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Collection_Jun</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_thru_each_junction_record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_thru_each_junction_record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Junc_Records_to_be_updated_is_found</name>
        <label>Junc Records to be updated is found</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Collection_Jun</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Junc_records</targetReference>
            </connector>
            <label>Yes - Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Lead - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Conversion, Update Competitor/Incumbent Records with Account and Opportunity</label>
    <loops>
        <name>loop_thru_each_junction_record</name>
        <label>loop thru each junction record</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <collectionReference>get_Comp_Inc_Junct_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_account_and_opp</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Junc_Records_to_be_updated_is_found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Comp_Inc_Junct_records</name>
        <label>get Comp/Inc Junct records</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_thru_each_junction_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Competitor_Incumbent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Junc_records</name>
        <label>Update Junc records</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <inputReference>Collection_Jun</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Comp_Inc_Junct_records</targetReference>
        </connector>
        <filterFormula>AND(
NOT({!$Setup.Org_Wide_Settings__c.Disable_Flows__c}),
ISCHANGED({!$Record.IsConverted}),
{!$Record.IsConverted} = TRUE
)</filterFormula>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Collection_Jun</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Competitor_Incumbent__c</objectType>
    </variables>
</Flow>
