force-app/main/default/flows/Opportunity_THG_Tax_Validation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <customErrors>
        <name>Display_Error</name>
        <label>Display Error</label>
        <locationX>308</locationX>
        <locationY>539</locationY>
        <customErrorMessages>
            <errorMessage>Please ensure you link an Estimate to the Opportunity before continuing with this Opportunity.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Found_Estimate</name>
        <label>Found Estimate?</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Display_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Estimate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity: THG Tax Validation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: THG Tax Validation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Estimate</name>
        <label>Get Estimate</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Estimate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ffscpq__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ffscpq__Estimate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Estimate</targetReference>
        </connector>
        <filterFormula>AND({!$Setup.Org_Wide_Settings__c.Disable_Flows__c} = false,
CASE({!$Record.StageName}, 
&quot;Married (Closed Won)&quot;,1,
&quot;Live Enquiry&quot;,1,
&quot;Closed Won&quot;,1,0) = 1,
ISCHANGED({!$Record.StageName}),
CASE({!$Record.Opportunity_Type_Area__c},
&quot;THG Tax&quot;,1, 0) = 1,
CASE({!$Record.Opportunity_Area__c},
&quot;Tax&quot;,1, 0) = 1,
TEXT({!$Record.Assignment_Type__c}) != &apos;THG Tax Due Diligence&apos;
)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
