force-app/main/default/flows/Opportunity_Stage_Tracking_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>add_the_duration</name>
        <label>add the duration</label>
        <locationX>424</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>Cumulative_Stage_Duration</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Same_Stage_History.Duration__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Same_Stage_History</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Current_Stage_History_is_Found</name>
        <label>Current Stage History is Found</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>get_Stage_History_with_same_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Current_Stage_History_is_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Current_Stage_History_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Current_Stage_History</targetReference>
            </connector>
            <label>Yes - Current Stage History is Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_or_Status_is_Changed</name>
        <label>New or Status is Changed</label>
        <locationX>336</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>get_Stage_History_with_same_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_or_Status_is_Updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>New_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Current_Stage_History_Record</targetReference>
            </connector>
            <label>New or Status is Updated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Formula_Cumulative_Stage_Duration</name>
        <dataType>Number</dataType>
        <expression>0</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Formula_Duration</name>
        <dataType>Number</dataType>
        <expression>NOW() - {!get_Current_Stage_History_Record.Start_Time__c}</expression>
        <scale>10</scale>
    </formulas>
    <formulas>
        <name>Formula_Now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>New_Formula</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Opportunity - Stage Tracking Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Stage Tracking Flow</label>
    <loops>
        <name>Loop_Through_Same_Stage_History</name>
        <label>Loop Through Same Stage History</label>
        <locationX>336</locationX>
        <locationY>1139</locationY>
        <collectionReference>get_Stage_History_with_same_Stage</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_the_duration</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Stage_History_Record</name>
        <label>Create New Stage History Record</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>New_or_Status_is_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Is_Current_Stage__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage_Name__c</field>
            <value>
                <elementReference>$Record.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Time__c</field>
            <value>
                <elementReference>Formula_Now</elementReference>
            </value>
        </inputAssignments>
        <object>Stage_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_Current_Stage_History_Record</name>
        <label>get Current Stage History Record</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Current_Stage_History_is_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Current_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Stage_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.StageName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Stage_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Stage_History_with_same_Stage</name>
        <label>get Stage History with same Stage</label>
        <locationX>336</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Same_Stage_History</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Stage_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.StageName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Stage_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Current_Stage_History</name>
        <label>Update Current Stage History</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>get_Stage_History_with_same_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Current_Stage_History_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Duration__c</field>
            <value>
                <elementReference>Formula_Duration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Current_Stage__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Stage_History__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>336</locationX>
        <locationY>1439</locationY>
        <inputAssignments>
            <field>Cumulative_Stage_Duration__c</field>
            <value>
                <elementReference>Cumulative_Stage_Duration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Stage_Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_New_Stage_History_Record</targetReference>
        </connector>
        <filterFormula>AND(NOT({!$Setup.Org_Wide_Settings__c.Disable_Flows__c}),
OR(ISNEW(), ISCHANGED({!$Record.StageName})))</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Cumulative_Stage_Duration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>10</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
