force-app/main/default/flows/Origination_Meeting_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <dynamicChoiceSets>
        <name>PCS_DeclinedReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Meeting_Declined_Reason__c</picklistField>
        <picklistObject>BD_Meeting__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PCS_LeadSource</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LeadSource</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PCS_MeetingStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Meeting_Status__c</picklistField>
        <picklistObject>BD_Meeting__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PCS_MeetingType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Meeting_Type__c</picklistField>
        <picklistObject>BD_Meeting__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PCS_Region</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Region__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PCS_ServicelIne</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Service_Line__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>MeetingName</name>
        <dataType>String</dataType>
        <expression>TEXT(DATEVALUE({!Meeting_Date})) + &quot; meeting with &quot; + {!get_Lead.Company}</expression>
    </formulas>
    <formulas>
        <name>NoteTitle</name>
        <dataType>String</dataType>
        <expression>{!get_Lead.Company} + &quot; - &quot; + TEXT(TODAY()) + &quot; - Handover Notes&quot;</expression>
    </formulas>
    <interviewLabel>Origination Meeting Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Origination Meeting Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Notes</name>
        <label>Create Notes</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Link_To_Lead</targetReference>
        </connector>
        <inputAssignments>
            <field>Content</field>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>NoteTitle</elementReference>
            </value>
        </inputAssignments>
        <object>ContentNote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Origination_Meeting</name>
        <label>Create Origination Meeting</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Screen3</targetReference>
        </connector>
        <inputAssignments>
            <field>Estimated_Potential_Opportunity_Fee__c</field>
            <value>
                <elementReference>Est_Potential_Opportunity_Fee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>Lead.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Attendee__c</field>
            <value>
                <elementReference>MeetingAttendee.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Date__c</field>
            <value>
                <elementReference>Meeting_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Declined_Reason__c</field>
            <value>
                <elementReference>Meeting_Declined_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Status__c</field>
            <value>
                <elementReference>Meeting_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Summary__c</field>
            <value>
                <elementReference>Meeting_Summary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Type__c</field>
            <value>
                <elementReference>Meeting_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>MeetingName</elementReference>
            </value>
        </inputAssignments>
        <object>BD_Meeting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Link_To_Lead</name>
        <label>Link To Lead</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Screen2</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>Create_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_Incumbent</name>
        <label>get Incumbent</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Incumbent</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Competitor_Incumbent__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Lead</name>
        <label>get Lead</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Incumbent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead_Fields</name>
        <label>Update Lead Fields</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Create_Notes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fee__c</field>
            <value>
                <elementReference>Fee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incumbent__c</field>
            <value>
                <elementReference>Incumbent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>Source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>Region</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Line__c</field>
            <value>
                <elementReference>Service_Line_Picklist</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Origination_Meeting</targetReference>
        </connector>
        <fields>
            <name>Screen1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Lead</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Lead__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>BD_Meeting__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Lead</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Service_Line_Picklist</name>
                    <choiceReferences>PCS_ServicelIne</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>get_Lead.Service_Line__c</elementReference>
                    </defaultValue>
                    <fieldText>Service Line</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Meeting_Date</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDateTime</elementReference>
                    </defaultValue>
                    <fieldText>Meeting Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Meeting_Type</name>
                    <choiceReferences>PCS_MeetingType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Meeting Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Est_Potential_Opportunity_Fee</name>
                    <dataType>Currency</dataType>
                    <fieldText>Est. Potential Opportunity Fee</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Meeting_Status</name>
                    <choiceReferences>PCS_MeetingStatus</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Meeting Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Meeting_Declined_Reason</name>
                    <choiceReferences>PCS_DeclinedReason</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Meeting Declined Reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Meeting_Status</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Declined</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen1_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MeetingAttendee</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Meeting_Attendee__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Meeting Attendee</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>BD_Meeting__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Meeting_Summary</name>
            <fieldText>Meeting Summary</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen2</name>
        <label>Screen2</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Text1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Origination Meeting and Handover Notes were created.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen3</name>
        <label>Screen3</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Lead_Fields</targetReference>
        </connector>
        <fields>
            <name>Handover_Notes</name>
            <fieldText>Handover Notes</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Handover_Notes_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Target_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>get_Lead.Company</elementReference>
                    </defaultValue>
                    <fieldText>Target Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Source</name>
                    <choiceReferences>PCS_LeadSource</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>get_Lead.LeadSource</elementReference>
                    </defaultValue>
                    <fieldText>Source</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Fee</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>get_Lead.Fee__c</elementReference>
                    </defaultValue>
                    <fieldText>Fee</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Incumbent</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>get_Incumbent.Competitor_Incumbent__r.Name</elementReference>
                    </defaultValue>
                    <fieldText>Incumbent</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Region</name>
                    <choiceReferences>PCS_Region</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>get_Lead.Region__c</elementReference>
                    </defaultValue>
                    <fieldText>Region</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Notes</name>
                    <defaultValue>
                        <stringValue>{!get_Lead.Notes__c}</stringValue>
                    </defaultValue>
                    <fieldText>Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Target Name: &lt;/strong&gt;{!Target_Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Source: &lt;/strong&gt;{!Source}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Fee:&lt;/strong&gt; {!Fee}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Incumbent:&lt;/strong&gt; {!Incumbent}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Region:&lt;/strong&gt; {!Region}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Notes: &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Notes}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
