force-app/main/default/flows/Origination_Meeting_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Send_Email_to_BD</name>
        <label>Send Email to BD</label>
        <locationX>50</locationX>
        <locationY>2030</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Screen2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>bdEmail_recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>bdEmail_Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bdEmail_body</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_BD_Email_recipient</name>
        <label>Assign BD Email recipient</label>
        <locationX>50</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>bdEmail_recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_BD_User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_to_BD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Incumbent_Account</name>
        <label>Assign Incumbent - Account</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>value_Incumbent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Account.Incumbent__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Incumbent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Incumbent_Lead</name>
        <label>Assign Incumbent - Lead</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>value_Incumbent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Lead.Incumbent__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Incumbent</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>First_BD_Meeting_on_Lead</name>
        <label>First BD Meeting on Lead?</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Screen3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_First_BD_Meeting_on_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_origination_meetings</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Origination_Meeting_checkbox</targetReference>
            </connector>
            <label>Yes - First BD Meeting on Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>has_BD</name>
        <label>has BD?</label>
        <locationX>182</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>Screen2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_has_BD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BD.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_BD_User</targetReference>
            </connector>
            <label>Yes has BD</label>
        </rules>
    </decisions>
    <decisions>
        <name>sObject</name>
        <label>sObject</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>get_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Account</targetReference>
            </connector>
            <label>Account</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>PCS_CP_Office</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CP_Office__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PCS_DeclinedReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Meeting_Declined_Reason__c</picklistField>
        <picklistObject>BD_Meeting__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PCS_LeadArea</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Lead_Area__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PCS_LeadSource</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LeadSource</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PCS_MeetingStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Meeting_Status__c</picklistField>
        <picklistObject>BD_Meeting__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PCS_MeetingType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Meeting_Type__c</picklistField>
        <picklistObject>BD_Meeting__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PCS_Region</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Region__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PCS_ServicelIne</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Service_Line__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Region</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Region__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>cpOffice_formula</name>
        <dataType>String</dataType>
        <expression>IF(LEFT({!recordId},3) = &apos;001&apos;, TEXT({!get_Account.CP_Office__c}), TEXT({!get_Lead.CP_Office__c}))</expression>
    </formulas>
    <formulas>
        <name>estimatedFees_formula</name>
        <dataType>Currency</dataType>
        <expression>IF(LEFT({!recordId},3) = &apos;001&apos;, {!get_Account.Estimated_Fees__c}, {!get_Lead.Estimated_Fees__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>MeetingName</name>
        <dataType>String</dataType>
        <expression>TEXT(DATEVALUE({!Meeting_Date})) + &quot; meeting with &quot; + {!get_Lead.Company}</expression>
    </formulas>
    <formulas>
        <name>notes_formula</name>
        <dataType>String</dataType>
        <expression>IF(LEFT({!recordId},3) = &apos;001&apos;, {!get_Account.Notes__c},{!get_Lead.Notes__c})</expression>
    </formulas>
    <formulas>
        <name>NoteTitle</name>
        <dataType>String</dataType>
        <expression>{!get_Lead.Company} + &quot; - &quot; + TEXT(TODAY()) + &quot; - Handover Notes&quot;</expression>
    </formulas>
    <formulas>
        <name>targetName_formula</name>
        <dataType>String</dataType>
        <expression>IF(LEFT({!recordId},3)= &apos;001&apos;, {!get_Account.Name},{!get_Lead.Company})</expression>
    </formulas>
    <interviewLabel>Origination Meeting Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Origination Meeting Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Notes</name>
        <label>Create Notes</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>Link_To_Lead</targetReference>
        </connector>
        <inputAssignments>
            <field>Content</field>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>NoteTitle</elementReference>
            </value>
        </inputAssignments>
        <object>ContentNote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Origination_Meeting</name>
        <label>Create Origination Meeting</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>get_origination_meetings</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Account_Lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Potential_Opportunity_Fee__c</field>
            <value>
                <elementReference>Est_Potential_Opportunity_Fee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Area__c</field>
            <value>
                <elementReference>Service_Line_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>Lead.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Attendee__c</field>
            <value>
                <elementReference>MeetingAttendee.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Date__c</field>
            <value>
                <elementReference>Meeting_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Declined_Reason__c</field>
            <value>
                <elementReference>Meeting_Declined_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Status__c</field>
            <value>
                <elementReference>Meeting_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Summary__c</field>
            <value>
                <elementReference>Meeting_Summary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Type__c</field>
            <value>
                <elementReference>Meeting_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>MeetingName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Line__c</field>
            <value>
                <elementReference>Service_Line_Picklist</elementReference>
            </value>
        </inputAssignments>
        <object>BD_Meeting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Link_To_Lead</name>
        <label>Link To Lead</label>
        <locationX>182</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>has_BD</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>Create_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_Account</name>
        <label>get Account</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Incumbent_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_BD_User</name>
        <label>Get BD User</label>
        <locationX>50</locationX>
        <locationY>1814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_BD_Email_recipient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BD.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Incumbent</name>
        <label>get Incumbent</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
        <filterLogic>1 AND ((2 AND 3) OR (4 AND 5))</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Incumbent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lead__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Competitor_Incumbent__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Lead</name>
        <label>get Lead</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Incumbent_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_origination_meetings</name>
        <label>get origination meetings</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>First_BD_Meeting_on_Lead</targetReference>
        </connector>
        <filterLogic>2 AND ((1 AND 4) OR (3 AND 5))</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Lead.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Create_Origination_Meeting</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lead__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BD_Meeting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_BD_Fields</name>
        <label>Update BD Fields</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>Create_Notes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Origination_Meeting</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CP_Office__c</field>
            <value>
                <elementReference>CP_Office</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incumbent__c</field>
            <value>
                <elementReference>Incumbent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Date__c</field>
            <value>
                <elementReference>Meeting_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <object>BD_Meeting__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Origination_Meeting_checkbox</name>
        <label>Update Origination Meeting checkbox</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Screen3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Origination_Meeting</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>First_BD_Meeting__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>BD_Meeting__c</object>
    </recordUpdates>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Origination_Meeting</targetReference>
        </connector>
        <fields>
            <name>Screen1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account_Lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Account__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>BD_Meeting__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordId</leftValueReference>
                            <operator>StartsWith</operator>
                            <rightValue>
                                <stringValue>001</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Lead</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Lead__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>BD_Meeting__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Lead</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordId</leftValueReference>
                            <operator>StartsWith</operator>
                            <rightValue>
                                <stringValue>00Q</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Service_Line_Picklist</name>
                    <choiceReferences>PCS_LeadArea</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>get_Lead.Lead_Area__c</elementReference>
                    </defaultValue>
                    <fieldText>Service Line</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Meeting_Date</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDateTime</elementReference>
                    </defaultValue>
                    <fieldText>Meeting Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Meeting_Type</name>
                    <choiceReferences>PCS_MeetingType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Meeting Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Est_Potential_Opportunity_Fee</name>
                    <dataType>Currency</dataType>
                    <fieldText>Est. Potential Opportunity Fee</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Meeting_Status</name>
                    <choiceReferences>PCS_MeetingStatus</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Meeting Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Meeting_Declined_Reason</name>
                    <choiceReferences>PCS_DeclinedReason</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Meeting Declined Reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Meeting_Status</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Declined</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen1_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MeetingAttendee</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Meeting_Attendee__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Meeting Attendee</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>BD_Meeting__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>BD</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>BD_Meeting__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>BD__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>BD</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Meeting_Summary</name>
            <fieldText>Meeting Summary</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen2</name>
        <label>Screen2</label>
        <locationX>182</locationX>
        <locationY>2222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Text1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Origination Meeting and Handover Notes were created.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen3</name>
        <label>Screen3</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_BD_Fields</targetReference>
        </connector>
        <fields>
            <name>Handover_Notes</name>
            <fieldText>Handover Notes</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Handover_Notes_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Target_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>targetName_formula</elementReference>
                    </defaultValue>
                    <fieldText>Target Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Incumbent</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>value_Incumbent</elementReference>
                    </defaultValue>
                    <fieldText>Incumbent</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CP_Office</name>
                    <choiceReferences>PCS_CP_Office</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>cpOffice_formula</elementReference>
                    </defaultValue>
                    <fieldText>CP Office</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Notes</name>
                    <defaultValue>
                        <stringValue>{!get_Lead.Notes__c}</stringValue>
                    </defaultValue>
                    <fieldText>Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>sObject</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>bdEmail_body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!Get_BD_User.FirstName},
You’ve been added to a Business Development (BD) Meeting. Below are the details for your review:
Service Line: ={!Service_Line_Picklist}
Date: {!Meeting_Date}
Type: {!Meeting_Type}
Estimated Potential Opportunity Fee: {!Est_Potential_Opportunity_Fee}
Status: {!Meeting_Status}
Attendees: {!MeetingAttendee.recordName}
Summary:
{!Meeting_Summary}

Kind regards,
Salesforce</text>
    </textTemplates>
    <textTemplates>
        <name>bdEmail_Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New BD Meeting Created {!get_Account.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Target Name: &lt;/strong&gt;{!Target_Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Incumbent:&lt;/strong&gt; {!Incumbent}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;CP Office:&lt;/strong&gt; {!CP_Office}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Notes: &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Notes}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>bdEmail_recipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>value_Incumbent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
