force-app/main/default/flows/Periodic_reminders_to_resources_with_unsubmitted_expenses.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Periodic reminders to resources with unsubmitted expenses</description>
        <name>Periodic_reminders_to_resources_with_unsubmitted_expenses</name>
        <label>Periodic reminders to resources with unsubmitted expenses</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_type_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Unsubmitted Expenses</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Notification_body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_Recipient_Id_into_Collections</name>
        <label>Add Recipient Id into Collections</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>RecipientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.pse__Resource__r.pse__Salesforce_User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Periodic_reminders_to_resources_with_unsubmitted_expenses</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_expense_status_is_not_Submitted_or_Rejected</name>
        <label>Check expense status is not Submitted or Rejected</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_not_submitted_or_rejected</name>
            <conditionLogic>4 AND 5 AND ( 1 OR ( 2 AND 3 ) )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Expense_Report__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Expense_Report__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Expense_Report__r.pse__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Resource__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Resource__r.pse__Salesforce_User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Notification_type_record</targetReference>
            </connector>
            <label>If not submitted or rejected</label>
        </rules>
    </decisions>
    <description>Weekly Periodic reminders to resources with unsubmitted expenses</description>
    <environments>Default</environments>
    <formulas>
        <name>Notification_body</name>
        <dataType>String</dataType>
        <expression>&quot;You have not yet submitted the &quot; + {!$Record.Name} + &quot; Expense. Please submit as soon as possible.&quot;</expression>
    </formulas>
    <interviewLabel>Unsubmitted expenses {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Periodic reminders to resources with unsubmitted expenses</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Unsubmitted_expenses</description>
        <name>Get_Custom_Notification_type_record</name>
        <label>Get Custom Notification type record</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Recipient_Id_into_Collections</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unsubmitted_expenses</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_expense_status_is_not_Submitted_or_Rejected</targetReference>
        </connector>
        <object>pse__Expense__c</object>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2024-10-11</startDate>
            <startTime>17:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RecipientId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
