force-app/main/default/flows/Person_Account_Create_update_Beneficial_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Beneficial_Owner_Exists</name>
        <label>Beneficial Owner Exists?</label>
        <locationX>600</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Beneficial_Owner</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>First_Name_Updated</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>City_Updated</name>
        <label>City Updated</label>
        <locationX>446</locationX>
        <locationY>2147</locationY>
        <defaultConnector>
            <targetReference>County_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>City</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingCity</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_City</targetReference>
            </connector>
            <label>City</label>
        </rules>
    </decisions>
    <decisions>
        <name>County_Updated</name>
        <label>County Updated</label>
        <locationX>446</locationX>
        <locationY>2447</locationY>
        <defaultConnector>
            <targetReference>Post_Code_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>County</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingState</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_County</targetReference>
            </connector>
            <label>County</label>
        </rules>
    </decisions>
    <decisions>
        <name>Date_of_Birth_Updated</name>
        <label>Date of Birth Updated</label>
        <locationX>446</locationX>
        <locationY>1547</locationY>
        <defaultConnector>
            <targetReference>Street_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Date_of_Birth</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PersonBirthdate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Date_of_Birth</targetReference>
            </connector>
            <label>Date of Birth</label>
        </rules>
    </decisions>
    <decisions>
        <name>First_Name_Updated</name>
        <label>First Name Updated</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Middle_Name_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FirstName</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_First_Name</targetReference>
            </connector>
            <label>First Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>Last_Name_Updated</name>
        <label>Last Name Updated</label>
        <locationX>446</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Date_of_Birth_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Last_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Last_Name</targetReference>
            </connector>
            <label>Last Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>Middle_Name_Updated</name>
        <label>Middle Name Updated</label>
        <locationX>446</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Last_Name_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Middle_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MiddleName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Middle_Name</targetReference>
            </connector>
            <label>Middle Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_or_Existing</name>
        <label>New or Existing</label>
        <locationX>325</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>get_Beneficial_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>f_new</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Beneficial_Owner</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Post_Code_Updated</name>
        <label>Post Code Updated</label>
        <locationX>446</locationX>
        <locationY>2747</locationY>
        <defaultConnector>
            <targetReference>Salutation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Postcode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingPostalCode</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Postcode</targetReference>
            </connector>
            <label>Postcode</label>
        </rules>
    </decisions>
    <decisions>
        <name>Salutation</name>
        <label>Salutation</label>
        <locationX>446</locationX>
        <locationY>3047</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Title_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Salutation</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Salutation</targetReference>
            </connector>
            <label>Title Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Street_Updated</name>
        <label>Street Updated</label>
        <locationX>446</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>City_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Street</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingStreet</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Street</targetReference>
            </connector>
            <label>Street</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_new</name>
        <dataType>Boolean</dataType>
        <expression>isNew()</expression>
    </formulas>
    <interviewLabel>Person Account - Create/update Beneficial Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Person Account - Create/update Beneficial Owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Beneficial_Owner</name>
        <label>Create Beneficial Owner</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Line_1__c</field>
            <value>
                <elementReference>$Record.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>County__c</field>
            <value>
                <elementReference>$Record.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Birth__c</field>
            <value>
                <elementReference>$Record.PersonBirthdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Middle_Name__c</field>
            <value>
                <elementReference>$Record.MiddleName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postcode__c</field>
            <value>
                <elementReference>$Record.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>$Record.Salutation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Town__c</field>
            <value>
                <elementReference>$Record.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <object>Beneficial_Owner__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_Beneficial_Owner</name>
        <label>get Beneficial Owner</label>
        <locationX>600</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Beneficial_Owner_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Beneficial_Owner__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_City</name>
        <label>Update City</label>
        <locationX>314</locationX>
        <locationY>2255</locationY>
        <connector>
            <targetReference>County_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Beneficial_Owner.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Town__c</field>
            <value>
                <elementReference>$Record.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <object>Beneficial_Owner__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_County</name>
        <label>Update County</label>
        <locationX>314</locationX>
        <locationY>2555</locationY>
        <connector>
            <targetReference>Post_Code_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Beneficial_Owner.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>County__c</field>
            <value>
                <elementReference>$Record.BillingState</elementReference>
            </value>
        </inputAssignments>
        <object>Beneficial_Owner__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Date_of_Birth</name>
        <label>Update Date of Birth</label>
        <locationX>314</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>Street_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Beneficial_Owner.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_of_Birth__c</field>
            <value>
                <elementReference>$Record.PersonBirthdate</elementReference>
            </value>
        </inputAssignments>
        <object>Beneficial_Owner__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_First_Name</name>
        <label>Update First Name</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Middle_Name_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Beneficial_Owner.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </inputAssignments>
        <object>Beneficial_Owner__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Last_Name</name>
        <label>Update Last Name</label>
        <locationX>314</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>Date_of_Birth_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Beneficial_Owner.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </inputAssignments>
        <object>Beneficial_Owner__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Middle_Name</name>
        <label>Update Middle Name</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Last_Name_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Beneficial_Owner.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Middle_Name__c</field>
            <value>
                <elementReference>$Record.MiddleName</elementReference>
            </value>
        </inputAssignments>
        <object>Beneficial_Owner__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Postcode</name>
        <label>Update Postcode</label>
        <locationX>314</locationX>
        <locationY>2855</locationY>
        <connector>
            <targetReference>Salutation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Beneficial_Owner.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Postcode__c</field>
            <value>
                <elementReference>$Record.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <object>Beneficial_Owner__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Salutation</name>
        <label>Update Salutation</label>
        <locationX>314</locationX>
        <locationY>3155</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Beneficial_Owner.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>$Record.Salutation</elementReference>
            </value>
        </inputAssignments>
        <object>Beneficial_Owner__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Street</name>
        <label>Update Street</label>
        <locationX>314</locationX>
        <locationY>1955</locationY>
        <connector>
            <targetReference>City_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Beneficial_Owner.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Address_Line_1__c</field>
            <value>
                <elementReference>$Record.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <object>Beneficial_Owner__c</object>
    </recordUpdates>
    <start>
        <locationX>199</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_or_Existing</targetReference>
        </connector>
        <filterFormula>AND(NOT({!$Setup.Org_Wide_Settings__c.Disable_Flows__c}),
{!$Record.RecordType.DeveloperName} = &quot;PersonAccount&quot;)</filterFormula>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
