force-app/main/default/flows/Populate_Asperato_Payment_Billing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <description>Populate Asperato Payment Billing Information from Asperato Authorisation</description>
    <environments>Default</environments>
    <interviewLabel>Populate Asperato Payment Billing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Populate Asperato Payment Billing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Authorisation_Info</name>
        <label>Get Authorisation Info</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Payment_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.asp04__Authorisation__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>asp04__Authorisation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Payment_Info</name>
        <label>Update Payment Info</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>asp04__Billing_Address_City__c</field>
            <value>
                <elementReference>Get_Authorisation_Info.asp04__Billing_Address_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Billing_Address_Country__c</field>
            <value>
                <elementReference>Get_Authorisation_Info.asp04__Billing_Address_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Billing_Address_PostalCode__c</field>
            <value>
                <elementReference>Get_Authorisation_Info.asp04__Billing_Address_PostalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Billing_Address_State__c</field>
            <value>
                <elementReference>Get_Authorisation_Info.asp04__Billing_Address_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Billing_Address_Street__c</field>
            <value>
                <elementReference>Get_Authorisation_Info.asp04__Billing_Address_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Company_Name__c</field>
            <value>
                <elementReference>Get_Authorisation_Info.asp04__Company_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Email__c</field>
            <value>
                <elementReference>Get_Authorisation_Info.asp04__Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__First_Name__c</field>
            <value>
                <elementReference>Get_Authorisation_Info.asp04__First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>asp04__Last_Name__c</field>
            <value>
                <elementReference>Get_Authorisation_Info.asp04__Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Authorisation_Info</targetReference>
        </connector>
        <object>asp04__Payment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
