force-app/main/default/flows/Referral_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>assign_values</name>
        <label>assign values</label>
        <locationX>1018</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>Single_Referral.Corporate_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CF_Opp_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Referral.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Outbound_Referral_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Referral.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Referral.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Referral.Referred_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Referred_Contact_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Referral.Referral_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Referral.Referral_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Referral.Referred_Private_Equity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PE_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Referral.Lead_Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Area</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Referral_Col</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Single_Referral</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_thru_each_repeater</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Atlast</name>
        <choiceText>Atlast</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Atlast</stringValue>
        </value>
    </choices>
    <choices>
        <name>Client</name>
        <choiceText>Client</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Client</stringValue>
        </value>
    </choices>
    <choices>
        <name>Colleague</name>
        <choiceText>Colleague</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Colleague</stringValue>
        </value>
    </choices>
    <choices>
        <name>Intermediary</name>
        <choiceText>Intermediary</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Intermediary</stringValue>
        </value>
    </choices>
    <choices>
        <name>International_Other</name>
        <choiceText>International Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>International Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Partnership</name>
        <choiceText>Partnership</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Partnership</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Lead_Area1</name>
        <label>Lead Area</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Create_Corporate_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead_Area</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Total Deals</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity_for_Internal_and_External</targetReference>
            </connector>
            <label>Deals</label>
        </rules>
    </decisions>
    <decisions>
        <name>Object</name>
        <label>Object</label>
        <locationX>688</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Screen1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Opportunity</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Referral_Type_Selected</name>
        <label>Referral Type</label>
        <locationX>688</locationX>
        <locationY>542</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Internal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Referral_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User</targetReference>
            </connector>
            <label>Internal</label>
        </rules>
        <rules>
            <name>External</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Referral_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>External</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Referral_Contact</targetReference>
            </connector>
            <label>External</label>
        </rules>
        <rules>
            <name>Private_Equity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Referral_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outbound</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Account</targetReference>
            </connector>
            <label>Outbound</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>PCS_LeadArea</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Lead_Area__c</picklistField>
        <picklistObject>Referral__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PCS_ServiceLine</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Service_Line__c</picklistField>
        <picklistObject>Referral__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Referral_Type_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Referral_Type__c</picklistField>
        <picklistObject>Referral__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Account_Id</name>
        <dataType>String</dataType>
        <expression>IF(BEGINS({!recordId},&quot;001&quot;), {!recordId}, null)</expression>
    </formulas>
    <formulas>
        <name>CF_Opp_Id</name>
        <dataType>String</dataType>
        <expression>IF(BEGINS({!recordId},&quot;a5DK&quot;), {!recordId}, null)</expression>
    </formulas>
    <formulas>
        <name>Lead_Id</name>
        <dataType>String</dataType>
        <expression>IF(BEGINS({!recordId},&quot;00Q&quot;), {!recordId}, null)</expression>
    </formulas>
    <formulas>
        <name>LeadArea_Default</name>
        <dataType>String</dataType>
        <expression>IF(BEGINS({!recordId}, &quot;a5DK&quot;), &quot;Total Deals&quot;, 
IF(BEGINS({!recordId}, &quot;00Q&quot;), TEXT({!get_Lead.Lead_Area__c}), 
IF(BEGINS({!recordId}, &quot;006&quot;), TEXT({!get_Opportunity.Opportunity_Area__c}), &quot; &quot;)))</expression>
    </formulas>
    <formulas>
        <name>LeadId</name>
        <dataType>String</dataType>
        <expression>IF(BEGINS({!recordId}, &quot;00Q&quot;), {!recordId}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Opportunity_Id</name>
        <dataType>String</dataType>
        <expression>IF(BEGINS({!recordId},&quot;006&quot;), {!recordId}, null)</expression>
    </formulas>
    <formulas>
        <name>Outbound_Referral_Name</name>
        <dataType>String</dataType>
        <expression> &quot; - Outbound&quot;</expression>
    </formulas>
    <formulas>
        <name>PE_Id</name>
        <dataType>String</dataType>
        <expression>IF(BEGINS({!recordId},&quot;a5IK&quot;),{!recordId}, null)</expression>
    </formulas>
    <formulas>
        <name>Private_Equity_Id</name>
        <dataType>String</dataType>
        <expression>IF(BEGINS({!recordId},&quot;a5IK&quot;), {!recordId}, null)</expression>
    </formulas>
    <formulas>
        <name>Referral_name_formula</name>
        <dataType>String</dataType>
        <expression>IF({!Referral_Type} = &quot;Internal&quot;, {!Get_User.Name} + &quot; - &quot; + {!Referral_Type}, 
IF({!Referral_Type} = &quot;External&quot;, {!Get_Referral_Contact.Name} + &quot; - &quot; + {!Referral_Type}, 
IF({!Referral_Type} = &quot;Outbound&quot;, {!get_Account.Name} + &quot; - &quot; + {!Referral_Type},  &quot; &quot;)))</expression>
    </formulas>
    <formulas>
        <name>ReferralType_Default</name>
        <dataType>String</dataType>
        <expression>IF(BEGINS({!recordId}, &quot;a5DK&quot;), &quot;Outbound&quot;, &quot; &quot;)</expression>
    </formulas>
    <formulas>
        <name>Referred_Contact_Id</name>
        <dataType>String</dataType>
        <expression>IF(BEGINS({!recordId},&quot;003&quot;), {!recordId}, null)</expression>
    </formulas>
    <formulas>
        <name>Today_Formula</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <name>Today_plus_1_month</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 30</expression>
    </formulas>
    <interviewLabel>Referral Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Referral Screen Flow</label>
    <loops>
        <name>loop_thru_each_repeater</name>
        <label>loop thru each repeater</label>
        <locationX>930</locationX>
        <locationY>758</locationY>
        <collectionReference>Referral_Col</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Referral_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Corporate_Opp</name>
        <label>Create Corporate Opp</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Update_Referral</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Referred_Account.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!Referred_Account.recordName} - Referral - {!Lead_Area}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Area__c</field>
            <value>
                <elementReference>Lead_Area</elementReference>
            </value>
        </inputAssignments>
        <object>Corporate_Finance_Opportunity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_for_Internal_and_External</name>
        <label>Create Opportunity for Internal and External</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Screen2</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Referred_Account.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Today_plus_1_month</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!Referred_Account.recordName} - Referral - {!Lead_Area}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Area__c</field>
            <value>
                <elementReference>Lead_Area</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Flirting</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Referral_Record</name>
        <label>Create Referral Record</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Lead_Area1</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Area__c</field>
            <value>
                <elementReference>Lead_Area</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>Lead_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Referral_name_formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Opportunity_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Date__c</field>
            <value>
                <elementReference>Today_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Sub_Type__c</field>
            <value>
                <elementReference>Referral_Sub_Type_Internal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Type__c</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_User__c</field>
            <value>
                <elementReference>Referral_User.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred_Account__c</field>
            <value>
                <elementReference>Referred_Account.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred_Contact__c</field>
            <value>
                <elementReference>Referred_Contact_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred_Private_Equity__c</field>
            <value>
                <elementReference>PE_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Referral__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Referral_Record_External</name>
        <label>Create Referral Record</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Lead_Area1</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Area__c</field>
            <value>
                <elementReference>Lead_Area</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>Lead_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Referral_name_formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Opportunity_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Contact__c</field>
            <value>
                <elementReference>Referral_Contact.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Date__c</field>
            <value>
                <elementReference>Today_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Sub_Type__c</field>
            <value>
                <elementReference>Referral_Sub_Type_External</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Type__c</field>
            <value>
                <stringValue>External</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred_Account__c</field>
            <value>
                <elementReference>Referred_Account.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred_Private_Equity__c</field>
            <value>
                <elementReference>PE_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Referral__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Referral_Records</name>
        <label>Create Referral Records</label>
        <locationX>930</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>Screen2</targetReference>
        </connector>
        <inputReference>Referral_Col</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Account</name>
        <label>get Account</label>
        <locationX>930</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_thru_each_repeater</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Lead</name>
        <label>get Lead</label>
        <locationX>424</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Opportunity</name>
        <label>get Opportunity</label>
        <locationX>688</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Referral_Contact</name>
        <label>Get Referral Contact</label>
        <locationX>578</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Referral_Record_External</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Referral_Contact.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Referral_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Referral_User.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Referral</name>
        <label>Update Referral</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Screen2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Referral_Record</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Created_Corporate_Opportunity__c</field>
            <value>
                <elementReference>Create_Corporate_Opp</elementReference>
            </value>
        </inputAssignments>
        <object>Referral__c</object>
    </recordUpdates>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>688</locationX>
        <locationY>434</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Referral_Type_Selected</targetReference>
        </connector>
        <fields>
            <name>Referral_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Today_Formula</elementReference>
            </defaultValue>
            <fieldText>Referral Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Lead_Area</name>
            <choiceReferences>PCS_LeadArea</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>LeadArea_Default</elementReference>
            </defaultValue>
            <fieldText>Lead Area</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Referral_Type</name>
            <choiceReferences>Referral_Type_Picklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ReferralType_Default</elementReference>
            </defaultValue>
            <fieldText>Referral Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Referral_Sub_Type_Internal</name>
            <choiceReferences>Colleague</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Colleague</defaultSelectedChoiceReference>
            <fieldText>Referral Sub-Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Referral_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Internal</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Referral_Sub_Type_External</name>
            <choiceReferences>Client</choiceReferences>
            <choiceReferences>Intermediary</choiceReferences>
            <choiceReferences>Partnership</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Referral Sub-Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Referral_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>External</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Referral_User</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Referral_User__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Referral User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Referral__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Referral_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Internal</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Referral_Contact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Referral__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Referral Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Referral_Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Referral_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>External</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Referred_Account</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Referred_Account__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Referred Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Referral__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Repeater_Account</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Account</name>
                <extensionName>flowruntime:lookup</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>fieldApiName</name>
                    <value>
                        <stringValue>Account__c</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>objectApiName</name>
                    <value>
                        <stringValue>Referral__c</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>label</name>
                    <value>
                        <stringValue>Account</stringValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Referral_Type</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Outbound</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>CF_Notes</name>
                <fieldText>CF Notes</fieldText>
                <fieldType>LargeTextArea</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Referral_Type</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Outbound</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Referral_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Outbound</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen2</name>
        <label>Screen2</label>
        <locationX>688</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Text2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Referral record has been created.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>562</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Object</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Referral_Col</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral__c</objectType>
    </variables>
    <variables>
        <name>Single_Referral</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral__c</objectType>
    </variables>
</Flow>
