force-app/main/default/flows/Schedule_Flow_Skill_Cert_rating_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_resource</name>
        <label>Notify resource</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Custom_Notification_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Update Skills/cert Rating</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Please update your Skills and certification Rating</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_recipient</name>
        <label>Add recipient</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>RecipientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.pse__Resource__r.pse__Salesforce_User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_resource</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Notification_date</name>
        <label>Check Notification date</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Notification_date_is_Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>May_Nov_month</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Custom_Notification_Record</targetReference>
            </connector>
            <label>Notification date is Today</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>May_Nov_month</name>
        <dataType>Boolean</dataType>
        <expression>IF(OR( AND(MONTH({!$Flow.CurrentDate}) == 5, DAY({!$Flow.CurrentDate}) == 1) , AND(MONTH({!$Flow.CurrentDate}) == 11, DAY({!$Flow.CurrentDate}) == 1) ), true,false)</expression>
    </formulas>
    <formulas>
        <name>NextnotificationDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 180</expression>
    </formulas>
    <interviewLabel>Schedule Flow - Skill/Cert rating Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule Flow - Skill/Cert rating Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Custom_Notification_Record</name>
        <label>Custom Notification Record</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_recipient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notify_Resource_for_updating_Skillcert_rating</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Notification_date</targetReference>
        </connector>
        <object>pse__Skill_Certification_Rating__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-10-29</startDate>
            <startTime>10:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RecipientId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
