force-app/main/default/flows/Source_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Id_to_var</name>
        <label>Assign Id to var</label>
        <locationX>1370</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varCreateOppId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Opportunity_Deals</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOppNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes_Deals</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_3_of_Copy_1_of_Create_Referral</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Id_to_var</name>
        <label>Copy 1 of Assign Id to var</label>
        <locationX>1634</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varCreateOppId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOppNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Create_Referral</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Atlast</name>
        <choiceText>Atlast</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Atlast</stringValue>
        </value>
    </choices>
    <choices>
        <name>Call_Email</name>
        <choiceText>Call / Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Call / Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Client</name>
        <choiceText>Client</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Client</stringValue>
        </value>
    </choices>
    <choices>
        <name>Content</name>
        <choiceText>Content</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Content</stringValue>
        </value>
    </choices>
    <choices>
        <name>CPer</name>
        <choiceText>CPer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CPer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Credentials</name>
        <choiceText>Credentials</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Credentials</stringValue>
        </value>
    </choices>
    <choices>
        <name>Deals</name>
        <choiceText>Deals</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deals</stringValue>
        </value>
    </choices>
    <choices>
        <name>Event</name>
        <choiceText>Event</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Event</stringValue>
        </value>
    </choices>
    <choices>
        <name>Event_value</name>
        <choiceText>Event</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Event </stringValue>
        </value>
    </choices>
    <choices>
        <name>Inbound</name>
        <choiceText>Inbound</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inbound</stringValue>
        </value>
    </choices>
    <choices>
        <name>Intermediary</name>
        <choiceText>Intermediary</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Intermediary</stringValue>
        </value>
    </choices>
    <choices>
        <name>International</name>
        <choiceText>International</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>International</stringValue>
        </value>
    </choices>
    <choices>
        <name>International_Other</name>
        <choiceText>International Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>International Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Networking</name>
        <choiceText>Networking</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Networking</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Outbound</name>
        <choiceText>Outbound</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Outbound</stringValue>
        </value>
    </choices>
    <choices>
        <name>Outreach</name>
        <choiceText>Outreach</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Outreach</stringValue>
        </value>
    </choices>
    <choices>
        <name>Partnership</name>
        <choiceText>Partnership</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Partnership</stringValue>
        </value>
    </choices>
    <choices>
        <name>Referral</name>
        <choiceText>Referral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Referral</stringValue>
        </value>
    </choices>
    <choices>
        <name>Service_Line</name>
        <choiceText>Service Line</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Service Line</stringValue>
        </value>
    </choices>
    <choices>
        <name>Social_Media</name>
        <choiceText>Social Media</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Social Media</stringValue>
        </value>
    </choices>
    <choices>
        <name>Specialist_Team_Messaging</name>
        <choiceText>Specialist Team Messaging</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Specialist Team Messaging</stringValue>
        </value>
    </choices>
    <choices>
        <name>Website</name>
        <choiceText>Website</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Website</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Copy_1_of_Object_Chosen</name>
        <label>Object Chosen</label>
        <locationX>3174</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Object</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Campaign_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Campaign.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Object</targetReference>
            </connector>
            <label>No Campaign - 2</label>
        </rules>
        <rules>
            <name>Copy_1_of_Lead_Chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_Campaign_Member</targetReference>
            </connector>
            <label>Lead Chosen</label>
        </rules>
        <rules>
            <name>Copy_1_of_Account_Chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_create_campaign_member_account</targetReference>
            </connector>
            <label>Account Chosen</label>
        </rules>
        <rules>
            <name>Copy_1_of_Opportunity_Chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Opportunity_Campaign</targetReference>
            </connector>
            <label>Opportunity Chosen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Object_Chosen</name>
        <label>Object Chosen</label>
        <locationX>4318</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Object</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Campaign_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Campaign.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Object</targetReference>
            </connector>
            <label>No Campaign - 3</label>
        </rules>
        <rules>
            <name>Copy_2_of_Lead_Chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Create_Campaign_Member</targetReference>
            </connector>
            <label>Lead Chosen</label>
        </rules>
        <rules>
            <name>Copy_2_of_Account_Chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_create_campaign_member_account</targetReference>
            </connector>
            <label>Account Chosen</label>
        </rules>
        <rules>
            <name>Copy_2_of_Opportunity_Chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_Opportunity_Campaign</targetReference>
            </connector>
            <label>Opportunity Chosen</label>
        </rules>
    </decisions>
    <decisions>
        <name>create_an_opportunity</name>
        <label>create an opportunity</label>
        <locationX>1766</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Create_Referral</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_create_an_opportunity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen2</targetReference>
            </connector>
            <label>yes - create</label>
        </rules>
    </decisions>
    <decisions>
        <name>create_opp_for_service_line</name>
        <label>create opp for service line</label>
        <locationX>2206</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_1_of_Create_Referral</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_create_opp_for_service_line</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_create_an_opportunity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Screen2</targetReference>
            </connector>
            <label>yes - create opp for service line</label>
        </rules>
    </decisions>
    <decisions>
        <name>Deals_is_Selected</name>
        <label>Deals is Selected?</label>
        <locationX>1568</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>create_an_opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Deals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Referral_Type_Account</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Deals</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deals_Screen</targetReference>
            </connector>
            <label>Yes Deals</label>
        </rules>
    </decisions>
    <decisions>
        <name>Object</name>
        <label>Object</label>
        <locationX>2338</locationX>
        <locationY>1442</locationY>
        <defaultConnector>
            <targetReference>Screen3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Account_Object</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Object_Chosen</name>
        <label>Object Chosen</label>
        <locationX>358</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Object</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Campaign_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Campaign.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Object</targetReference>
            </connector>
            <label>No Campaign - 1</label>
        </rules>
        <rules>
            <name>Lead_Chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Campaign_Member</targetReference>
            </connector>
            <label>Lead Chosen</label>
        </rules>
        <rules>
            <name>Account_Chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_campaign_member_account</targetReference>
            </connector>
            <label>Account Chosen</label>
        </rules>
        <rules>
            <name>Opportunity_Chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Campaign</targetReference>
            </connector>
            <label>Opportunity Chosen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Object_Picked</name>
        <label>Object</label>
        <locationX>1810</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Object</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Picked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Referral</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Account_Picked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deals_is_Selected</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Opportunity_Picked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_opportunity</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Source_Chosen</name>
        <label>Source</label>
        <locationX>2338</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inbound_Chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Inbound</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Object</targetReference>
            </connector>
            <label>Inbound Chosen</label>
        </rules>
        <rules>
            <name>Outbound_Chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Outbound</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Object_Chosen</targetReference>
            </connector>
            <label>Outbound Chosen</label>
        </rules>
        <rules>
            <name>Referral_Chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Referral</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Object_Picked</targetReference>
            </connector>
            <label>Referral Chosen</label>
        </rules>
        <rules>
            <name>Outreach_Chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Outreach</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Object_Chosen</targetReference>
            </connector>
            <label>Outreach Chosen</label>
        </rules>
        <rules>
            <name>Event_Chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Event_value</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Object_Chosen</targetReference>
            </connector>
            <label>Event Chosen</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Area_PCS</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Lead_Area__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Lead_Area_PCS</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Lead_Area__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>oppRecordType_values</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>RecordType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>oppStage_Values</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PCS_CP_Office</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CP_Office__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PCS_Winning</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Win_Probability__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>transactionIn_values</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Transaction_in_next_2_years__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Type_Area_PCS</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Lead_Type_Area__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Corporate_Opportunity_Name</name>
        <dataType>String</dataType>
        <expression>&quot;Referral - &quot; + {!Area_Picklist.middleValue} + &quot; -  Corporate Opportunity&quot;</expression>
    </formulas>
    <formulas>
        <name>Opp_name_for_opp</name>
        <dataType>String</dataType>
        <expression>&quot;Referral - &quot; + {!Copy_1_of_Area_Picklist.middleValue} + &quot; -  Opportunity&quot;</expression>
    </formulas>
    <formulas>
        <name>Opportunity_Account</name>
        <dataType>String</dataType>
        <expression>IF(BEGINS({!recordId}, &quot;001&quot;), {!recordId}, 
IF (BEGINS({!recordId}, &quot;006&quot;),{!get_opportunity.AccountId} , 
&quot; &quot;))</expression>
    </formulas>
    <formulas>
        <name>Opportunity_Name</name>
        <dataType>String</dataType>
        <expression>&quot;Referral - &quot; + {!Area_Picklist.middleValue} + &quot; -  Opportunity&quot;</expression>
    </formulas>
    <formulas>
        <name>plus1month</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 30</expression>
    </formulas>
    <formulas>
        <name>Referral_name</name>
        <dataType>String</dataType>
        <expression>&quot;Referral - &quot; + {!Referral_Type_Formula_For_Name}</expression>
    </formulas>
    <formulas>
        <name>Referral_Type_Formula</name>
        <dataType>String</dataType>
        <expression>IF(
{!Referral_Type_Lead} = &quot;Client&quot; || {!Referral_Type_Lead} = &quot;Intermediary&quot; || {!Referral_Type_Lead} = &quot;Partnership&quot;|| {!Referral_Type_Lead} = &quot;International&quot; || {!Referral_Type_Lead} = &quot;Networking&quot;, &quot;Referral&quot;,
IF( {!Referral_Type_Lead} = &quot;CPer&quot;  || {!Referral_Type_Lead} = &quot;Service Line&quot;, &quot;Internal&quot;, &quot; &quot; ))</expression>
    </formulas>
    <formulas>
        <name>Referral_Type_Formula_Account</name>
        <dataType>String</dataType>
        <expression>IF(
{!Referral_Type_Account}= &quot;Client&quot; ||{!Referral_Type_Account} = &quot;Intermediary&quot; || {!Referral_Type_Account} = &quot;Partnership&quot;|| {!Referral_Type_Account} = &quot;International&quot;|| {!Referral_Type_Account} = &quot;Deals&quot;, &quot;External&quot;,
IF( {!Referral_Type_Account} = &quot;CPer&quot;  || {!Referral_Type_Account} = &quot;Service Line&quot;, &quot;Internal&quot;, &quot; &quot; ))</expression>
    </formulas>
    <formulas>
        <name>Referral_Type_Formula_For_Name</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Referral_Type_Lead})), {!Referral_Type_Lead}, 
IF(NOT(ISBLANK({!Referral_Type_Account})), {!Referral_Type_Account},
{!Referral_Type_Opportunity}))</expression>
    </formulas>
    <formulas>
        <name>Source_Type_Formula</name>
        <dataType>String</dataType>
        <expression>IF({!Source} = &quot;Inbound&quot;, {!Source_Type_Inbound}, {!Source_Type_Outbound})</expression>
    </formulas>
    <interviewLabel>Source Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Source Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Copy_1_of_Create_Referral</name>
        <label>Copy 1 of Copy 1 of Create Referral</label>
        <locationX>2206</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Object</targetReference>
        </connector>
        <inputAssignments>
            <field>Lead_Area__c</field>
            <value>
                <elementReference>Lead_Area</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Referral_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Copy_1_of_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Copy_1_of_Create_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Sub_Type__c</field>
            <value>
                <elementReference>Referral_Type_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Type__c</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <object>Referral__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_Campaign_Member</name>
        <label>Create Campaign Member</label>
        <locationX>2866</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Object</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Campaign.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_create_campaign_member_account</name>
        <label>create campaign member account</label>
        <locationX>3130</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Object</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Campaign.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_Opportunity</name>
        <label>Copy 1 of Create Opportunity</label>
        <locationX>2074</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Create_Referral</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>get_opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Copy_1_of_Estimated_Fee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assignment_Type__c</field>
            <value>
                <elementReference>Copy_1_of_Area_Picklist.bottomValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CP_Office__c</field>
            <value>
                <elementReference>Copy_1_of_CP_Office</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Copy_1_of_Close_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Opp_name_for_opp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Area__c</field>
            <value>
                <elementReference>Copy_1_of_Area_Picklist.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Type_Area__c</field>
            <value>
                <elementReference>Copy_1_of_Area_Picklist.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Type__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>Source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Flirting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Win_Probability__c</field>
            <value>
                <elementReference>Copy_1_of_Percent_Winning</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_Referral</name>
        <label>Copy 1 of Create Referral</label>
        <locationX>1766</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Object</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>International_Firm_Name__c</field>
            <value>
                <elementReference>International_Firm_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Area__c</field>
            <value>
                <elementReference>Lead_Area</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Referral_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Network__c</field>
            <value>
                <elementReference>Network</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>varOppNotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>varCreateOppId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Contact__c</field>
            <value>
                <elementReference>Contact.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Sub_Type__c</field>
            <value>
                <elementReference>Referral_Type_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Type__c</field>
            <value>
                <elementReference>Referral_Type_Formula_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_User__c</field>
            <value>
                <elementReference>User.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred_Account__c</field>
            <value>
                <elementReference>Account_Client.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Referral__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Create_Campaign_Member</name>
        <label>Create Campaign Member</label>
        <locationX>4010</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Object</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Campaign.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_create_campaign_member_account</name>
        <label>Create campaign member account</label>
        <locationX>4274</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Object</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Campaign.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_3_of_Copy_1_of_Create_Referral</name>
        <label>Copy 3 of Copy 1 of Create Referral</label>
        <locationX>1370</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Object</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>International_Firm_Name__c</field>
            <value>
                <elementReference>International_Firm_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Area__c</field>
            <value>
                <elementReference>Lead_Area</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Referral_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Network__c</field>
            <value>
                <elementReference>Network</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>varOppNotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>varCreateOppId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Contact__c</field>
            <value>
                <elementReference>Contact.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Sub_Type__c</field>
            <value>
                <elementReference>Referral_Type_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Type__c</field>
            <value>
                <elementReference>Referral_Type_Formula_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_User__c</field>
            <value>
                <elementReference>User.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred_Account__c</field>
            <value>
                <elementReference>Account_Deals.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Referral__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Campaign_Member</name>
        <label>Create Campaign Member</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Object</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Campaign.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_campaign_member_account</name>
        <label>create campaign member account</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Object</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Campaign.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>1634</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Copy_1_of_Assign_Id_to_var</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account_Client.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Estimated_Fee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assignment_Type__c</field>
            <value>
                <elementReference>Area_Picklist.bottomValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CP_Office__c</field>
            <value>
                <elementReference>CP_Office</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Close_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Opportunity_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Area__c</field>
            <value>
                <elementReference>Area_Picklist.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Type_Area__c</field>
            <value>
                <elementReference>Area_Picklist.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Record_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Type__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>Source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Flirting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Win_Probability__c</field>
            <value>
                <elementReference>Percent_Winning</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_Deals</name>
        <label>Create Opportunity</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Assign_Id_to_var</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account_Deals.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes_Deals</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PE_Backed__c</field>
            <value>
                <elementReference>PE_Backed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Stage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_in_next_2_years__c</field>
            <value>
                <elementReference>Transaction_in_next_2_years</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Referral</name>
        <label>Create Referral</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Object</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>International_Firm_Name__c</field>
            <value>
                <elementReference>International_Firm_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Area__c</field>
            <value>
                <elementReference>Lead_Area</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Referral_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Network__c</field>
            <value>
                <elementReference>Network</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Contact__c</field>
            <value>
                <elementReference>Contact.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Sub_Type__c</field>
            <value>
                <elementReference>Referral_Type_Lead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Type__c</field>
            <value>
                <elementReference>Referral_Type_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_User__c</field>
            <value>
                <elementReference>User.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Referral__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_opportunity</name>
        <label>get opportunity</label>
        <locationX>2206</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>create_opp_for_service_line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Opportunity_Campaign</name>
        <label>Update Opportunity Campaign</label>
        <locationX>3394</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Object</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Campaign.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Opportunity_Campaign</name>
        <label>Update Opportunity Campaign</label>
        <locationX>4538</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Object</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Campaign.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>2206</locationX>
        <locationY>1550</locationY>
        <connector>
            <targetReference>Screen3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Source_Type__c</field>
            <value>
                <elementReference>Source_Type_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>Source</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>1942</locationX>
        <locationY>1550</locationY>
        <connector>
            <targetReference>Screen3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Source_Type__c</field>
            <value>
                <elementReference>Source_Type_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>Source</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>2470</locationX>
        <locationY>1550</locationY>
        <connector>
            <targetReference>Screen3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Source_Type__c</field>
            <value>
                <elementReference>Source_Type_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>Source</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Campaign</name>
        <label>Update Opportunity Campaign</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Object</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Campaign.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_Screen2</name>
        <label>Copy 1 of Screen2</label>
        <locationX>2074</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Create_Opportunity</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Area_Picklist</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Lead_Area__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Lead_Type_Area__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Area</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Type Area</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomPicklistApiName</name>
                <value>
                    <stringValue>Assignment_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomLabel</name>
                <value>
                    <stringValue>Assignment Type</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_Close_Date</name>
            <dataType>Date</dataType>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Estimated_Fee</name>
            <dataType>Currency</dataType>
            <fieldText>Estimated Fee</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Copy_1_of_Percent_Winning</name>
            <choiceReferences>PCS_Winning</choiceReferences>
            <dataType>String</dataType>
            <fieldText>% Winning</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_CP_Office</name>
            <choiceReferences>PCS_CP_Office</choiceReferences>
            <dataType>String</dataType>
            <fieldText>CP Office</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Deals_Screen</name>
        <label>Deals Screen</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Opportunity_Deals</targetReference>
        </connector>
        <fields>
            <name>Account_Deals</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Stage</name>
            <choiceReferences>oppStage_Values</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Flirt</stringValue>
            </defaultValue>
            <fieldText>Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CloseDate</name>
            <dataType>Date</dataType>
            <fieldText>CloseDate</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Transaction_in_next_2_years</name>
            <choiceReferences>transactionIn_values</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Transaction in next 2 years</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PE_Backed</name>
            <dataType>Boolean</dataType>
            <fieldText>PE Backed</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Notes_Deals</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>2338</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Source_Chosen</targetReference>
        </connector>
        <fields>
            <name>Source</name>
            <choiceReferences>Inbound</choiceReferences>
            <choiceReferences>Event_value</choiceReferences>
            <choiceReferences>Referral</choiceReferences>
            <choiceReferences>Outreach</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Source_Type_Inbound</name>
            <choiceReferences>Call_Email</choiceReferences>
            <choiceReferences>Social_Media</choiceReferences>
            <choiceReferences>Website</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Source Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Source</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Inbound</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Source_Type_Outbound</name>
            <choiceReferences>Event</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Source Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Source</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Outbound</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Referral_Type_Lead</name>
            <choiceReferences>Client</choiceReferences>
            <choiceReferences>CPer</choiceReferences>
            <choiceReferences>Intermediary</choiceReferences>
            <choiceReferences>International</choiceReferences>
            <choiceReferences>Partnership</choiceReferences>
            <choiceReferences>Service_Line</choiceReferences>
            <choiceReferences>Networking</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Referral Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Source</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Referral</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recordId</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>00Q</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Referral_Type_Account</name>
            <choiceReferences>Client</choiceReferences>
            <choiceReferences>CPer</choiceReferences>
            <choiceReferences>Intermediary</choiceReferences>
            <choiceReferences>International</choiceReferences>
            <choiceReferences>Partnership</choiceReferences>
            <choiceReferences>Service_Line</choiceReferences>
            <choiceReferences>Deals</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Referral Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Source</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Referral</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recordId</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>001</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Referral_Type_Opportunity</name>
            <choiceReferences>Service_Line</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Referral Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>006</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Source</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Referral</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Referral_Type_Outreach</name>
            <choiceReferences>Content</choiceReferences>
            <choiceReferences>Specialist_Team_Messaging</choiceReferences>
            <choiceReferences>Credentials</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Referral Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Source</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Outreach</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Campaign</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Campaign</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CampaignId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Source_Type_Outbound</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Event</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Source</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Event_value</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Source</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Outreach</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Account</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Account__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Referral__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Referral_Type_Lead</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Client</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Referral_Type_Lead</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Intermediary</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Referral_Type_Lead</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Partnership</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Referral_Type_Account</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Client</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Referral_Type_Account</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Intermediary</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Referral_Type_Account</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Partnership</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Referral_Type_Lead</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Service_Line</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Contact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Referral_Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Referral__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Referral_Type_Lead</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Client</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Referral_Type_Account</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Client</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>User</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Referral_User__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Referral__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Referral_Type_Lead</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>CPer</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Referral_Type_Account</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>CPer</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Network</name>
            <choiceReferences>Atlast</choiceReferences>
            <choiceReferences>International_Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Network</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Referral_Type_Lead</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>International</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Referral_Type_Account</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>International</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>International_Firm_Name</name>
            <dataType>String</dataType>
            <fieldText>International Firm Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Referral_Type_Lead</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>International</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Referral_Type_Account</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>International</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Lead_Area</name>
            <choiceReferences>Lead_Area_PCS</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Lead Area</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Referral_Type_Lead</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Service_Line</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Referral_Type_Account</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Service_Line</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Referral_Type_Opportunity</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Service_Line</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Do_you_want_to_create_an_opportunity</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to create an opportunity?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3)</conditionLogic>
                <conditions>
                    <leftValueReference>Source</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Referral</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recordId</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>001</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recordId</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>006</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen2</name>
        <label>Screen2</label>
        <locationX>1634</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <fields>
            <name>Record_Type</name>
            <choiceReferences>oppRecordType_values</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Record Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Account_Client</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Area_Picklist</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Lead_Area__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Lead_Type_Area__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Area</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Type Area</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomPicklistApiName</name>
                <value>
                    <stringValue>Assignment_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomLabel</name>
                <value>
                    <stringValue>Assignment Type</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Close_Date</name>
            <dataType>Date</dataType>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Estimated_Fee</name>
            <dataType>Currency</dataType>
            <fieldText>Estimated Fee</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Percent_Winning</name>
            <choiceReferences>PCS_Winning</choiceReferences>
            <dataType>String</dataType>
            <fieldText>% Winning</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CP_Office</name>
            <choiceReferences>PCS_CP_Office</choiceReferences>
            <dataType>String</dataType>
            <fieldText>CP Office</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen3</name>
        <label>Screen3</label>
        <locationX>2338</locationX>
        <locationY>1742</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Source has been logged for this record.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>2212</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCreateOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
